*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background: #dadada;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #3b3a39; }

.bgpattern {
  position: fixed;
  right: 0;
  top: 0;
  width: 245px;
  height: 100%;
  background: linear-gradient(-33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%), linear-gradient(-33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%) 0 8px, linear-gradient(33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%), linear-gradient(33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%) 0 8px;
  background-size: 245px 90px;
  background-color: rgba(56, 51, 90, 0.3);
  z-index: 1; }

.bgpattern_alt {
  background-color: rgba(56, 51, 90, 0.3); }

.page_container {
  position: relative;
  right: 0;
  top: 0;
  z-index: 2;
  width: 80%;
  margin: auto; }

.horizontal-rule {
  background-color: #204969;
  width: 95%;
  height: .75rem;
  margin: auto;
  border-radius: 1rem;
  border: 1px solid #fff7f7; }

h1 {
  font-size: 5rem;
  letter-spacing: .5rem;
  color: #204969;
  font-weight: 600; }

h2 {
  font-size: 3rem;
  letter-spacing: .5rem;
  color: #204969;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem; }

h3 {
  font-size: 1.75rem;
  color: #38335a;
  margin: .5rem 0 0 0; }

h4 {
  font-size: 1.5rem;
  color: #797776; }

.u-row-container {
  display: flex;
  flex-direction: row; }

.u-col-container {
  display: flex;
  flex-direction: column; }

.u-section-box {
  background-color: #fff7f7;
  border: 2px solid #204969;
  border-radius: 2rem;
  padding: 1.5rem;
  margin: 1rem; }

.resheader {
  align-items: center; }
  .resheader__monogrambg {
    background-color: #38335a;
    width: 14rem;
    height: 12rem;
    border-radius: 45% 10% 70% 10%;
    border: 1px solid #fff7f7;
    margin-right: 4rem;
    justify-content: center;
    align-items: center;
    box-shadow: -11px 28px 30px -20px rgba(0, 0, 0, 0.75); }
  .resheader__monogram {
    font-size: 5rem;
    font-family: "Macondo Swash Caps", cursive;
    color: #fff7f7; }
  .resheader__icon {
    margin: .5rem 1rem;
    height: 2rem;
    width: 2rem;
    fill: #3b3a39; }
  .resheader__method {
    align-items: center;
    font-size: 1.75rem; }

.about {
  width: 50%;
  margin: 2rem auto; }

.skills {
  background-color: #204969;
  border: 1px solid #fff7f7;
  padding: .5rem;
  border-radius: 2rem; }
  .skills__skillbox {
    justify-content: space-evenly; }
  .skills__skill {
    align-items: center; }
  .skills__headline {
    color: #fff7f7; }
  .skills__iconbg {
    background-color: #fff7f7;
    width: 4.5rem;
    height: 4rem;
    border-radius: 45% 10% 70% 10%;
    justify-content: center;
    align-items: center; }
  .skills__skillname {
    color: #fff7f7;
    margin-top: .5rem; }

.experience {
  flex: 60%; }
  .experience__position {
    margin: 2rem; }
  .experience__company {
    margin-left: auto; }
  .experience__points {
    list-style: none; }
    .experience__points li {
      display: flex;
      align-items: start; }
      .experience__points li::before {
        margin-top: .25rem;
        background-color: #38335a;
        mask-image: url(../images/SVG/circle-right.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-image: url(../images/SVG/circle-right.svg);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        color: transparent;
        font-size: 1rem;
        content: "vvv"; }

.proj-ed {
  flex: 40%; }
