*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 450px) {
    html {
      font-size: 40%; } }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #3b3a39;
  background: #dadada;
  position: relative; }

.bgpattern {
  position: fixed;
  right: 0;
  top: 0;
  width: 245px;
  height: 100%;
  background: linear-gradient(-33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%), linear-gradient(-33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%) 0 8px, linear-gradient(33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%), linear-gradient(33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%) 0 8px;
  background-size: 245px 90px;
  background-color: rgba(56, 51, 90, 0.3);
  z-index: 1; }
  @media (max-width: 770px) {
    .bgpattern {
      width: 122px; } }
  @media (max-width: 450px) {
    .bgpattern {
      width: 61px; } }

.bgpattern_alt {
  background-color: rgba(56, 51, 90, 0.3); }

.page_container {
  position: relative;
  right: 0;
  top: 0;
  width: 80%;
  margin: auto;
  z-index: 2; }
  @media (max-width: 450px) {
    .page_container {
      width: 95%; } }

.horizontal-rule {
  width: 95%;
  height: .75rem;
  margin: auto;
  background-color: #204969;
  border-radius: 1rem;
  border: 1px solid #fff7f7; }

h1 {
  font-size: 5rem;
  letter-spacing: .5rem;
  color: #204969;
  font-weight: 600; }

h2 {
  font-size: 3rem;
  letter-spacing: .5rem;
  color: #204969;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem; }

h3 {
  font-size: 1.75rem;
  color: #38335a;
  margin: .5rem 0 0 0; }

h4 {
  font-size: 1.5rem;
  color: #797776; }

.u-section-box {
  padding: 1.5rem;
  margin: 1rem;
  background-color: #fff7f7;
  border: 2px solid #204969;
  border-radius: 2rem; }

#nav-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3; }

.nav {
  flex: 1;
  position: absolute;
  top: -3.5rem;
  left: 0;
  right: 0;
  height: 9.3rem;
  display: flex;
  align-items: stretch;
  text-align: center;
  z-index: 4;
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1); }
  .nav__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(calc(var(--x) * 25%));
    transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1); }
  .nav__dot {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #38335a;
    position: absolute;
    left: calc((25% - 120px) / 2);
    top: 0%;
    z-index: 3;
    transform: scale(0.85);
    box-shadow: 0 0 0 1px #08ffc8, 0 0 0 4px #38335a, 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .nav__cutout {
    width: 120px;
    height: 120px;
    top: 0px;
    left: calc((25% - 120px) / 2);
    z-index: 2;
    border-radius: 50%; }
    .nav__cutout:before, .nav__cutout:after {
      content: '';
      position: absolute;
      width: 1000%;
      height: 130%;
      top: -30%;
      background-color: #38335a;
      border-top: solid 2px #FFF; }
    .nav__cutout:before {
      right: 95%;
      border-bottom-right-radius: 1vh;
      box-shadow: 0 0 0 1px #08ffc8, 0 0 0 4px #38335a, 0 1rem 2rem rgba(0, 0, 0, 0.3); }
    .nav__cutout:after {
      left: 20%;
      border-bottom-left-radius: 1vh;
      box-shadow: 0 0 0 1px #08ffc8, 0 0 0 4px #38335a, 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .nav__label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
    margin-top: 3.5rem; }
  .nav__filler {
    flex: 4; }
  .nav__link {
    margin-top: 1rem;
    font-size: 1.7rem;
    font-family: Raleway, sans-serif;
    color: #fff7f7;
    transition: all .4s ease; }
    .nav__link:hover {
      color: #08ffc8; }

input[name="choice"] {
  position: absolute;
  top: 0;
  opacity: 0; }

#nav-1:checked ~ * label[for="nav-1"],
#nav-2:checked ~ * label[for="nav-2"],
#nav-3:checked ~ * label[for="nav-3"],
#nav-4:checked ~ * label[for="nav-4"] {
  transform: translateY(-10%); }

#nav-1:checked ~ #nav-container {
  --x: 0; }

#nav-2:checked ~ #nav-container {
  --x: 1; }

#nav-3:checked ~ #nav-container {
  --x: 2; }

#nav-4:checked ~ #nav-container {
  --x: 3; }

.profile-skills {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 200px; }
  .profile-skills__icon {
    height: 3rem;
    width: 3rem;
    margin: .5rem 1rem;
    fill: #3b3a39; }
  .profile-skills__iconbg {
    width: 7rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #38335a;
    border-radius: 45% 10% 70% 10%;
    background-color: #fff7f7;
    display: flex;
    flex-direction: row; }
  .profile-skills__skill {
    align-items: center;
    display: flex;
    flex-direction: column; }
  .profile-skills__skillname {
    margin-top: .5rem;
    font-weight: 600;
    font-size: 1.75rem; }

.about {
  width: 60%;
  margin: 2rem auto; }
  .about__blurb {
    font-size: 1.75rem; }

.education__span {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row; }

.experience {
  flex: 55%; }
  .experience__company {
    margin-left: auto; }
  .experience__points {
    list-style: none; }
    .experience__points li {
      display: flex;
      align-items: start; }
      .experience__points li::before {
        content: "vvv";
        margin-top: .25rem;
        background-color: #38335a;
        mask-image: url(../images/SVG/circle-right.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-image: url(../images/SVG/circle-right.svg);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        font-size: 1rem;
        color: transparent; }
  .experience__position {
    margin: 2rem; }
  .experience__span {
    display: flex;
    flex-direction: row; }

.flexible-content {
  display: flex;
  flex-direction: row; }
  @media (max-width: 770px) {
    .flexible-content {
      display: flex;
      flex-direction: column; } }

.projects {
  padding: 3rem; }
  .projects__project {
    margin-bottom: 2rem; }

.proj-ed {
  flex: 45%;
  display: flex;
  flex-direction: column; }

.resheader {
  align-items: center;
  display: flex;
  flex-direction: row; }
  .resheader__contact {
    display: flex;
    flex-direction: column; }
  .resheader__icon {
    height: 2rem;
    width: 2rem;
    margin: .5rem 1rem;
    fill: #3b3a39; }
  .resheader__method {
    align-items: center;
    font-size: 1.75rem;
    display: flex;
    flex-direction: row; }
  .resheader__monogram {
    font-size: 5rem;
    font-family: "Macondo Swash Caps", cursive;
    color: #fff7f7; }
  .resheader__monogrambg {
    width: 14rem;
    height: 12rem;
    margin-right: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 45% 10% 70% 10%;
    border: 1px solid #fff7f7;
    background-color: #38335a;
    box-shadow: -11px 28px 30px -20px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: row; }
    @media (max-width: 450px) {
      .resheader__monogrambg {
        margin-right: 1rem; } }

.skills {
  background-color: #204969;
  border: 1px solid #fff7f7;
  padding: .5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column; }
  .skills__headline {
    color: #fff7f7; }
  .skills__iconbg {
    width: 4.5rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 45% 10% 70% 10%;
    background-color: #fff7f7;
    display: flex;
    flex-direction: row; }
  .skills__skill {
    align-items: center;
    display: flex;
    flex-direction: column; }
  .skills__skillbox {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row; }
  .skills__skillname {
    margin-top: .5rem;
    color: #fff7f7; }
