*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 1050px) {
    html {
      font-size: 58%; } }
  @media (max-width: 450px) {
    html {
      font-size: 40%; } }
  @media print {
    html {
      font-size: 50%; } }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #3b3a39;
  background: #dadada;
  position: relative; }
  @media print {
    body {
      background: white; } }

@media (max-width: 450px) {
  button {
    font-size: 1.5rem; } }

.bgpattern {
  position: fixed;
  right: 0;
  top: 0;
  width: 245px;
  height: 100%;
  background: linear-gradient(-33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%), linear-gradient(-33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%) 0 8px, linear-gradient(33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%), linear-gradient(33deg, rgba(255, 255, 255, 0.001) 30.5%, #dadada 31.5%, #dadada 32.5%, rgba(255, 255, 255, 0.001) 33.5%) 0 8px;
  background-size: 245px 90px;
  background-color: rgba(56, 51, 91, 0.3);
  z-index: 1; }
  .bgpattern--portfolio {
    position: absolute;
    width: 100%; }
  @media (max-width: 770px) {
    .bgpattern {
      width: 122px; } }
  @media (max-width: 450px) {
    .bgpattern {
      width: 61px; } }

.bgpattern_alt {
  background-color: rgba(56, 51, 91, 0.3); }

.page_container {
  position: relative;
  right: 0;
  top: 0;
  width: 80%;
  margin: auto;
  z-index: 2; }
  @media (max-width: 450px) {
    .page_container {
      width: 95%; } }

.horizontal-rule {
  width: 95%;
  height: .75rem;
  margin: auto;
  background-color: #204969;
  border-radius: 1rem;
  border: 1px solid #fff7f7; }

h1 {
  font-size: 5rem;
  letter-spacing: .5rem;
  color: #204969;
  font-weight: 600; }

h2 {
  font-size: 3rem;
  letter-spacing: .5rem;
  color: #204969;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem; }

h3 {
  font-size: 1.75rem;
  color: #38335b;
  margin: .5rem 0 0 0; }

h4 {
  font-size: 1.5rem;
  color: #797776; }

ul {
  list-style: none; }

li::before {
  content: "vvv";
  margin-top: .25rem;
  background-color: #38335b;
  mask-image: url(../images/SVG/circle-right.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-image: url(../images/SVG/circle-right.svg);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  font-size: 1rem;
  color: transparent; }

button {
  background-color: #38335b;
  box-shadow: 0 0 0 1px #08ffc8, 0 0 0 4px #38335b, 0 1rem 2rem rgba(0, 0, 0, 0.3);
  color: #fff7f7;
  margin: 2rem 0;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s; }
  button:hover, button:focus {
    color: #08ffc8;
    transform: translateY(-2px);
    background-color: #2e2a4b;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2); }
  button:before, button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat; }
  button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #38335b 20%, transparent 20%), radial-gradient(circle, transparent 20%, #38335b 20%, transparent 30%), radial-gradient(circle, #38335b 20%, transparent 20%), radial-gradient(circle, #38335b 20%, transparent 20%), radial-gradient(circle, transparent 10%, #38335b 15%, transparent 20%), radial-gradient(circle, #38335b 20%, transparent 20%), radial-gradient(circle, #38335b 20%, transparent 20%), radial-gradient(circle, #38335b 20%, transparent 20%), radial-gradient(circle, #38335b 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%; }
  button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #38335b 20%, transparent 20%), radial-gradient(circle, #38335b 20%, transparent 20%), radial-gradient(circle, transparent 10%, #38335b 15%, transparent 20%), radial-gradient(circle, #38335b 20%, transparent 20%), radial-gradient(circle, #38335b 20%, transparent 20%), radial-gradient(circle, #38335b 20%, transparent 20%), radial-gradient(circle, #38335b 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%; }
  button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards; }
  button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards; }

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%; }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%; }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%; }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

.u-section-box {
  padding: 1.5rem;
  margin: 1rem;
  background-color: #fff7f7;
  border-radius: 2rem; }

.u-blue-border {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border: 1px solid #204969; }

.u-white-border {
  border: 1px solid #fff7f7;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.blob__filter {
  display: none; }

.blob__container {
  position: absolute;
  bottom: 2rem;
  right: -5rem;
  width: 80%;
  height: 90%;
  filter: url("#filter");
  overflow: hidden; }

.blob__ball {
  width: 270px;
  height: 270px;
  position: absolute;
  top: calc(50% - 135px);
  left: calc(50% - 135px); }
  .blob__ball:before {
    background: #928ac7;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }
  .blob__ball--one {
    transform: translate(-297px);
    animation: x-axis-lateral 8s infinite alternate ease-in-out; }
    .blob__ball--one:before {
      animation: y-axis-lateral 4s infinite 0.1s alternate ease-in-out; }
  .blob__ball--two {
    animation: x-axis 10s infinite alternate ease-in-out; }
    .blob__ball--two:before {
      animation: y-axis 5s infinite .5s alternate ease-in-out; }
  .blob__ball--three {
    transform: translate(297px, 351px);
    animation: x-axis-lateral 6s infinite alternate ease; }
    .blob__ball--three:before {
      animation: y-axis-lateral 3s infinite .4s alternate ease-in-out; }

@keyframes x-axis {
  0% {
    transform: translate(-432px); }
  100% {
    transform: translate(432px); } }

@keyframes y-axis {
  0% {
    transform: translateY(189px); }
  100% {
    transform: translateY(-297px) scale(0.8); } }

@keyframes x-axis-lateral {
  0% {
    transform: translate(-162px); }
  100% {
    transform: translate(162px); } }

@keyframes y-axis-lateral {
  0% {
    transform: translateY(54px); }
  100% {
    transform: translateY(-270px); } }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 1rem 4rem;
  color: #38335b;
  background-color: #fff7f7;
  font-size: 2.2rem;
  z-index: 10; }
  .nav__monogram {
    font-family: "Macondo Swash Caps", sans-serif;
    font-size: 3rem;
    text-decoration: none;
    color: #38335b; }
  .nav__links {
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .nav__links--link {
      position: relative;
      text-decoration: none;
      padding: 0 2rem;
      color: #38335b;
      z-index: 12; }
      .nav__links--link:hover {
        color: #fff7f7; }
      .nav__links--link::before {
        content: "";
        height: 100%;
        width: 100%;
        transition: all .4s ease-in;
        position: absolute;
        top: 0;
        left: 0;
        background: #38335b;
        clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
        z-index: -1;
        opacity: 0; }
      .nav__links--link:hover::before {
        opacity: .3; }

.projects {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-bottom: -23rem; }
  .projects__buttonlink {
    display: flex;
    text-decoration: none; }
    .projects__buttonlink--ghlink {
      margin-top: auto; }
  .projects__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff7f7;
    padding: 4rem;
    border-radius: 6px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    z-index: 3;
    transition: transform .3s ease;
    cursor: pointer; }
    .projects__card:hover {
      transform: scale(1.1); }
    .projects__card-projectName {
      font-size: 2rem;
      margin-bottom: 2rem; }
  .projects__cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 5rem 0; }
  .projects__headline {
    background-color: #fff7f7;
    padding: 2rem;
    border-radius: 6px;
    margin-bottom: 0; }
  .projects__headlineTab {
    margin-top: -4.5rem;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    z-index: 3;
    background: linear-gradient(to bottom, #38335b 0%, #38335b 50%, #fff7f7 51%, #fff7f7 100%); }
  .projects__info {
    background: #fff7f7;
    width: 60%;
    padding: 4rem;
    border-radius: 6px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    font-size: 1.8rem;
    line-height: 2.4rem;
    z-index: 3; }
    .projects__info-blurb {
      margin: 1rem 0; }
    .projects__info-contents {
      padding: 1rem 2.5rem; }
    .projects__info-instructions {
      font-weight: 600; }
    .projects__info-list {
      padding: 0 3rem; }
      @media (max-width: 1050px) {
        .projects__info-list {
          padding: 0 1rem; } }
    .projects__info-listitem:not(:last-of-type) {
      margin-bottom: .75rem; }
    .projects__info-projectName {
      color: #204969;
      font-weight: 600;
      font-size: 2rem;
      margin-bottom: 2rem; }
    .projects__info-ghbutton {
      margin: 3rem auto 0 auto; }
      @media (max-width: 1050px) {
        .projects__info-ghbutton {
          margin: 1rem auto 0 auto; } }
  .projects__projectImage {
    width: 17.5rem;
    border-radius: 6px; }

.skills {
  background-color: #204969;
  padding: .5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column; }
  .skills--portfolio {
    position: relative;
    width: 100%;
    height: 46rem;
    padding: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column; }
  .skills__background {
    background: url(/images/contactDesk.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2; }
  .skills__headline {
    color: #fff7f7; }
  .skills__hidden {
    opacity: 0; }
  .skills__icon--portfolio {
    width: 4rem; }
  .skills__iconbg {
    width: 4.5rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 45% 10% 70% 10%;
    background-color: #fff7f7;
    display: flex;
    flex-direction: row; }
    .skills__iconbg--portfolio {
      width: 8rem;
      height: 7rem; }
  .skills__skill {
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 4;
    transition: all 1.5s; }
    .skills__skill--group2 {
      transition-delay: 1s; }
  .skills__skillbox {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row; }
    .skills__skillbox--portfolio {
      margin-top: auto;
      margin-bottom: 8rem; }
  .skills__skillname {
    margin-top: .5rem;
    color: #fff7f7; }

.welcome {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10rem; }
  .welcome__name {
    font-size: 15rem;
    font-weight: 400;
    z-index: 2; }
    .welcome__name--initial {
      font-family: "Macondo Swash Caps", sans-serif; }
  .welcome__marquee {
    height: 5rem;
    margin: 2rem 0;
    z-index: 2;
    overflow: hidden; }
    @media (max-width: 770px) {
      .welcome__marquee {
        font-size: 2rem; } }
    .welcome__marquee--list {
      position: relative;
      height: 700%;
      animation: slide 35s ease infinite; }
  .welcome__scrolltext {
    display: block;
    position: relative;
    height: 14.2857%;
    padding: 2px 5px;
    font-size: 3rem;
    top: 0;
    box-sizing: border-box; }

@keyframes slide {
  0% {
    top: 0%; }
  12% {
    top: 0%; }
  14% {
    top: -100%; }
  26% {
    top: -100%; }
  28% {
    top: -200%; }
  40% {
    top: -200%; }
  42% {
    top: -300%; }
  54% {
    top: -300%; }
  56% {
    top: -400%; }
  68% {
    top: -400%; }
  70% {
    top: -500%; }
  82% {
    top: -500%; }
  84% {
    top: -600%; }
  96% {
    top: -600%; }
  100% {
    top: -700%; } }

.about {
  width: 60%;
  margin: 2rem auto; }
  @media (max-width: 770px) {
    .about {
      width: 80%; } }
  .about__blurb {
    font-size: 1.75rem; }

.education__span {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row; }

.experience {
  flex: 55%; }
  .experience__company {
    margin-left: auto; }
  .experience__position {
    margin: 2rem 2rem 0 2rem; }
  .experience__span {
    display: flex;
    flex-direction: row; }

.flexible-content {
  display: flex;
  flex-direction: row; }
  @media (max-width: 770px) {
    .flexible-content {
      display: flex;
      flex-direction: column; } }
  @media print {
    .flexible-content {
      display: flex;
      flex-direction: row; } }

.resprojects {
  padding: 1.5rem 3rem; }
  .resprojects__link {
    text-decoration: none;
    cursor: pointer;
    color: #38335b; }
    .resprojects__link:visited {
      color: #38335b; }
    .resprojects__link:hover {
      color: #08ffc8; }
  .resprojects__project {
    margin-bottom: 2rem; }

.proj-ed {
  flex: 45%;
  display: flex;
  flex-direction: column; }

.resheader {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 2rem 0; }
  @media print {
    .resheader {
      margin: 4rem 0 2rem 0; } }
  .resheader__column {
    display: flex;
    flex-direction: column; }
    .resheader__column:nth-child(2) {
      margin-left: 4rem; }
      @media (max-width: 770px) {
        .resheader__column:nth-child(2) {
          margin-left: 1rem; } }
      @media (max-width: 450px) {
        .resheader__column:nth-child(2) {
          margin-left: 0; } }
      @media print {
        .resheader__column:nth-child(2) {
          margin-left: .5rem; } }
  .resheader__contact {
    display: flex;
    flex-direction: column; }
  .resheader__icon {
    height: 2rem;
    width: 2rem;
    margin: .5rem 1rem;
    fill: #3b3a39; }
  .resheader__method {
    align-items: center;
    font-size: 1.75rem;
    display: flex;
    flex-direction: row; }
    @media (max-width: 770px) {
      .resheader__method {
        font-size: 1.25rem; } }
    @media (max-width: 770px) {
      .resheader__method {
        font-size: 1.75rem; } }
  .resheader__monogram {
    font-size: 5rem;
    font-family: "Macondo Swash Caps", cursive;
    color: #fff7f7; }
    @media print {
      .resheader__monogram {
        font-size: 4rem; } }
  .resheader__monogrambg {
    width: 14rem;
    height: 12rem;
    margin-right: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 45% 10% 70% 10%;
    border: 1px solid #fff7f7;
    background-color: #38335b;
    box-shadow: -11px 28px 30px -20px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: row; }
    @media (max-width: 770px) {
      .resheader__monogrambg {
        margin-right: 1rem; } }
    @media (max-width: 450px) {
      .resheader__monogrambg {
        margin-right: 3rem; } }
    @media (max-width: 390px) {
      .resheader__monogrambg {
        margin-right: 1rem; } }
    @media print {
      .resheader__monogrambg {
        margin-right: 2rem;
        width: 12rem;
        height: 10rem; } }
  @media print {
    .resheader__name {
      text-align: center; } }
  .resheader__row {
    display: flex;
    flex-direction: row; }
    @media (max-width: 450px) {
      .resheader__row {
        display: flex;
        flex-direction: column; } }
    @media print {
      .resheader__row {
        margin-left: -2.5rem; } }

.portfolio {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  background-color: #fff7f7;
  font-size: 1.8rem;
  overflow: hidden; }
