@mixin flex-row{
    display: flex;
    flex-direction: row;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin shadow{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.4);
}

@mixin respond($breakpoint){
    @if $breakpoint == tablet {
        @media (max-width: 770px){@content};
    }
    @if $breakpoint == phone {
        @media (max-width: 450px){@content};
    }
}