$color-background: rgb(218, 218, 218);
$color-background-accent: rgb(255, 247, 247);

$color-text: rgb(59, 58, 57);
$color-text-light: rgb(121, 119, 118);
$color-text-headline: rgb(32, 73, 105);

$color-highlight: rgb(8, 255, 200);
$color-brand: rgb(56, 51, 91);

$blob-radius: 270px;
@include respond(tablet){
    $blob-radius: 150px;
}
$color-blob: rgb(146, 138, 199);