$color-background: rgb(255, 247, 247);//used
$color-background-accent:rgb(185, 177, 244);//used

$color-text: rgb(59, 58, 57);//used
$color-text-light: rgb(121, 119, 118);
$color-text-headline: rgb(32, 73, 105);

$color-highlight: rgb(55, 233, 148);
$color-brand: rgb(56, 51, 91);
