.checkedOff {
	opacity: 0.5;
	text-decoration: line-through;
}
body {
	font-family: "Roboto Condensed", sans-serif;
}

ul:nth-of-type(even){
	background-color: rgba(0,0,0,0.1);
}

.centered {
	margin: auto;
	width: 70%
	
}

h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 60px;
	padding-top: 30px;
}

.header {
	background-color: rgba(203,233,239,0.5);
}

hr {
	border-width: 2px;
	border-style: solid;
	margin-top: 0;
	margin-bottom: 0;
}

.entry {
	background-color: rgba(0,0,0,0.1);
	padding: 10px 0px 10px 0px;
}

.alert {
	font-size: 12px;
}

.delAll {
	position: fixed;
	bottom: 20px;
	background-color: rgba(203,233,239,1.0);
}