body {
    font-family: sans-serif;
    width: 100%;
    margin: 0;
}
header {
    display: grid;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    background: white;
    color: black;
    text-align: center;
    border-bottom: 1px solid rgba(76, 75, 68, 0.9);
    z-index: 99;
}
.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    grid-column: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 60px;
}
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: 3;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
    padding: 10px 0;
}
nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Oswald, sans-serif;
    font-weight: 300;
}
nav li {
    margin-left: 3em;
    margin-bottom: 0;
}
nav a {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 1;
    -webkit-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
}
    nav a:hover {
        font-weight: 600;
    }
    nav a::before {
        content: "";
        display: block;
        height: 12px;
        background: rgba(204, 130, 34, 0.3);
        position: absolute;
        top: .45em;
        width: 150%;
        left: -25%;
        right: 0;
        -webkit-transform: scale(0, 1);
                transform: scale(0, 1);
        -webkit-transition: -webkit-transform ease-in-out 250ms;
        transition: -webkit-transform ease-in-out 250ms;
        transition: transform ease-in-out 250ms;
        transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
    }
        nav a:hover::before {-webkit-transform: scale(1,1);transform: scale(1,1);}
.jumbo {
    width: 100%;
    height: 70vh;
    background-image: url(images/jumbo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5%;
    color: white;
    text-align: center;
}
h1 {
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 5em;
    text-shadow: 2px 2px #1d1b1b,
    -1px -1px #868484;
}
/* sliding text */
.content {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider-wrapper {
    font-size: 40px;
    color:white;
    background-color: rgba(204, 130, 34, 0.3);
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider{
    height: 50px;
    padding-left: 5px;
    overflow: hidden;
  }
  .slider div {
    color: white;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 5px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .slider-text1 {
    -webkit-animation: slide 5s linear infinite;
            animation: slide 5s linear infinite;
  }
  @-webkit-keyframes slide {
    0% {margin-top:-300px;}
    5% {margin-top:-200px;}
    33% {margin-top:-200px;}
    38% {margin-top:-100px;}
    66% {margin-top:-100px;}
    71% {margin-top:0px;}
    100% {margin-top:0px;}
  }
  @keyframes slide {
    0% {margin-top:-300px;}
    5% {margin-top:-200px;}
    33% {margin-top:-200px;}
    38% {margin-top:-100px;}
    66% {margin-top:-100px;}
    71% {margin-top:0px;}
    100% {margin-top:0px;}
  }
  #about {
    background: white; 
  }
    #about div {
      display: block;
      text-align: center;
      background: rgba(204, 130, 34, 0.7);
      padding: 2% 10%;  
    }
  h2 {
    font-family: Oswald, sans-serif;
    font-size: 2em;
    margin: 0;
  }
  #testimonials {
    text-align: center;
    padding: 2% 15%;
    background-color: white;
  }

  /* Slideshow container */
.slideshow-container {
  position: relative;
}
.mySlides {
  display: none;
  padding: 20px 80px 80px 80px;
  text-align: center;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.prev {left: 0;}
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}
q {font-style: italic;}
.author {color: rgb(204, 130, 34);}

/* end slideshow */
.experience {
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 40px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(images/houses.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  .exp-backdrop {
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: 1px solid white;
    border-radius: 7px;
    padding: 30px;
  }
  .experience img {
    border: 2px solid rgb(76, 75, 68);
    border-radius: 50%;
    float: left;
    margin: -10px 25px 25px 0px;
  }
.floater {
  position: relative;
  margin-bottom: 270px;
  z-index: 2;
}
.centered {
  margin: auto;
}
footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 230px;
  background-color: rgba(76, 75, 68, 0.9);
  text-align: center;
  padding: 40px 0px 0px 0px;
  color: white;
  z-index: 1;
}
footer ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}
footer li {
  padding: 12px 20px;
}
footer li a {
  color: white;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 35px;
  }
  .jumbo {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 25%;
    padding-bottom: 25%;
  }
  #testimonials {
    padding: 2% 5%;
  }
  .slider-wrapper {
    font-size: 30px;
  }
  .experience img {
    float: none;
  }
  footer ul {
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
}