//for heading elements, paragraphs
.heading__h1 {
    &--hero {
        font-family: Righteous, sans-serif;
        font-size: 11rem;
        margin: -3rem 0;
    }
    &--initial {
        font-family: "Faster One", sans-serif;
        font-size: 16rem;
    }
}
.heading__h2 {
    font-family: Pacifico, cursive;
    font-size: 3rem;
    
    &--right {text-align: right;
    }
}
p {
    font-size: 2rem;
}