h1 {
    font-family: "Red Rose", sans-serif;
    color: $color-white;
    font-size: 3.6rem;
    font-weight: 400;
}
h2 {
    font-family: "Red Rose", sans-serif;
    color: $color-white;
    font-size: 1.8rem;
    font-weight: 400;
}