*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #3f402e;
  background: #f8f5f1;
  position: relative; }

h1 {
  font-size: 6.4rem;
  font-family: "Sedgwick Ave", sans-serif;
  color: #3f402e; }
  @media (min-width: 415px) {
    h1 {
      font-size: 8rem; } }
  @media (min-width: 781px) {
    h1 {
      font-size: 11rem; } }

.navigation {
  display: flex;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  .navigation__inner {
    display: flex;
    flex-direction: column;
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    width: 18rem;
    clip-path: circle(2.5rem at 17rem 3rem);
    transition: all .8s ease-out;
    margin-left: auto;
    cursor: pointer; }
    .navigation__inner:hover {
      clip-path: none;
      width: 18rem;
      height: 60vh;
      background-color: #f8f5f1;
      box-shadow: -8px 0px 10px rgba(0, 0, 0, 0.45), -8px 0px 10px 2000px rgba(0, 0, 0, 0.25); }
  .navigation__icon {
    width: 4rem;
    height: 4rem;
    fill: #3f402e;
    z-index: 101; }
  .navigation__button {
    margin-left: auto; }
  .navigation__item {
    margin: 3rem 0;
    display: block;
    position: relative; }
    .navigation__item:before {
      content: "";
      position: absolute;
      top: -.5rem;
      left: -4rem;
      width: 5rem;
      height: 5rem;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%);
      background-color: #d6d02c;
      z-index: -1; }
  .navigation__link {
    position: relative;
    text-decoration: none;
    color: #3f402e;
    font-size: 2.4rem;
    font-weight: 600; }
    .navigation__link:hover {
      color: #828365; }
  .navigation__list {
    list-style: none;
    margin-left: .5rem; }

.hero {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1270px) {
    .hero {
      flex-direction: row-reverse; } }
  .hero__branding {
    display: flex;
    height: 60vh;
    width: 100%;
    position: relative;
    background-image: url(/images/flower.jpg);
    background-position: 75% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; }
    @media (min-width: 1270px) {
      .hero__branding {
        height: 100vh;
        flex: 60%; } }
  .hero__content {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%; }
    @media (min-width: 1270px) {
      .hero__content {
        height: 100vh;
        flex: 40%; } }
  .hero__companyMission {
    flex: 1;
    background-color: #314d4f;
    color: #f8f5f1;
    text-align: justify;
    padding: 4rem 3rem; }
    .hero__companyMission--emphasis {
      color: #d6d02c; }
    @media (min-width: 415px) {
      .hero__companyMission {
        font-size: 2.25rem;
        padding: 4rem 8rem; } }
    @media (min-width: 781px) {
      .hero__companyMission {
        font-size: 3rem;
        padding: 4rem 6rem; } }
    @media (min-width: 1270px) {
      .hero__companyMission {
        padding: 5rem 9.5rem; } }
  .hero__purchase {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 1270px) {
      .hero__purchase {
        background-color: #314d4f; } }
  .hero__button {
    position: relative;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    background-color: #d6d02c;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    overflow: hidden; }
    @media (min-width: 781px) {
      .hero__button {
        font-size: 2.5rem;
        padding: 2rem; } }
    .hero__button::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to top right, transparent 0%, #f8f5f1 100%);
      transform: translate(-100%, 0);
      transition: all .8s ease; }
    .hero__button:hover::after {
      transform: translate(0, 0); }
  .hero__logo {
    position: absolute;
    bottom: 4rem;
    right: 3rem;
    z-index: 4; }
    @media (min-width: 781px) {
      .hero__logo {
        bottom: 8rem;
        right: 6rem; } }
    .hero__logo--top {
      position: relative;
      top: 5rem;
      left: -1rem;
      font-family: "Zeyada", sans-serif;
      color: #828365;
      z-index: -1; }
      @media (min-width: 415px) {
        .hero__logo--top {
          top: 6.5rem; } }
      @media (min-width: 781px) {
        .hero__logo--top {
          top: 8rem; } }
    .hero__logo--bottom {
      z-index: 4; }
  .hero__swoosh {
    background: url(/images/yellowSwoosh1.svg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0; }
    @media (min-width: 360px) and (min-height: 800px) {
      .hero__swoosh {
        bottom: -1.4rem; } }
    @media (min-width: 415px) {
      .hero__swoosh {
        background: url(/images/yellowSwoosh1m.svg) no-repeat;
        bottom: -8rem; } }
    @media (min-width: 781px) {
      .hero__swoosh {
        background-size: cover;
        bottom: -2rem; } }
    @media (min-width: 1270px) {
      .hero__swoosh {
        background: url(/images/yellowSwoosh1l.svg) no-repeat;
        width: 105%;
        background-size: cover;
        bottom: 0; } }
    @media (min-width: 415px) {
      .hero__swoosh {
        background: url(/images/yellowSwoosh1xl.svg) no-repeat;
        width: 100%;
        background-size: cover; } }
  .hero__motto {
    width: 26.5rem;
    margin: 6rem 0 0 3rem;
    font-size: 2.4rem;
    z-index: 2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    @media (min-width: 415px) {
      .hero__motto {
        font-weight: 600;
        width: 50rem;
        font-size: 3rem; } }
    @media (min-width: 781px) {
      .hero__motto {
        font-size: 4.8rem;
        width: 60rem;
        margin: 10rem 0 0 8rem; } }

.honeycomb {
  position: absolute;
  top: -1.5rem;
  left: -4rem;
  display: flex;
  flex-direction: column; }
  @media (min-width: 781px) {
    .honeycomb {
      top: -3.5rem;
      left: -8rem; } }
  .honeycomb__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -.5rem; }
    @media (min-width: 781px) {
      .honeycomb__row {
        margin-top: -2.5rem; } }
  .honeycomb__piece {
    width: 6rem;
    height: 6rem;
    margin: 0 .5rem;
    background-color: rgba(214, 208, 44, 0.8);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
    @media (min-width: 781px) {
      .honeycomb__piece {
        width: 14rem;
        height: 14rem; } }

.testimonials {
  display: flex;
  height: 60vh;
  width: 100%;
  position: relative;
  margin-top: 5rem;
  overflow: hidden; }
  .testimonials:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(/images/eyes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.4; }
