  *, *:before, *:after {
    box-sizing: inherit;
  }

  .panels {
    display: flex;
    min-height: 50vh;
    overflow: hidden;
  }

  .panel {
    display: flex;
    background: #9ba6b2;
    text-align: center;
    align-items: center;
    transition:
      font-size 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  .projNameDiv {
    position: relative;
  }

  .panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .panel img {
    max-width: 90%;
  }
  .panel.open {
    flex: 7;
    background-color: #DEE1DC;
  }
  .panel.closed {
    flex: 1;
    background-color: #9ba6b2;
  }
      .panel.closed a {
        display: none;
      }
      .panel.closed h4 {
        display: flex;
        width: 100%;
        left: 0;
        position: absolute;
        transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            transform-origin: center center;
            -webkit-transform-origin: center center;
        font-size: 40px;
        white-space: nowrap;
      }
      .panel.closed .tech {
        display: none;
      }
.tech {
  display: inline;
  font-size: 16px;
  width: 80%;
  text-align: left;
  margin: 25px;
}
.tech ul {
  list-style-type: none;
}
.panelInner {
  display: flex;
  overflow: hidden;
}
.projSumm {
  display: flex;
  flex: 1;
  border-right: 1px solid black;
  flex-direction: column;
}
  .panel.closed .projSumm {
    bottom: 0;
  }
.projReadme {
  display: none;
} 
    .panel.open .projReadme {
      display: flex;
      flex: 2;
      flex-direction: column;
      height: 100%;
      text-align: left;
      margin: 0px 25px;
    }
