  *, *:before, *:after {
    box-sizing: inherit;
  }

  .panels {
    display: flex;
    min-height: 50vh;
    overflow: hidden;
  }

  .panel {
    display: flex;
    background: #9ba6b2;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

  }
  .projNameDiv {
    position: relative;
  }
  .panel1 { background-color: #9ba6b2;}
  .panel2 { background-color: #9ba6b2; }
  .panel3 { background-color: #9ba6b2;}
  .panel4 { background-color: #9ba6b2; }

  /* Flex Children */
  .panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .panel img {
    max-width: 90%;
  }
  .panel.open {
    flex: 8;
    background-color: #DEE1DC;
  }
  .panel.closed {
    flex: 1;
    background-color: #9ba6b2;
  }
      .panel.closed img {
        display: none;
      }
      .panel.closed a {
        display: none;
      }
      .panel.closed h4 {
        display: flex;
        position: absolute;
        transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            transform-origin: center center;
            -webkit-transform-origin: center center;
        font-size: 40px;
        white-space: nowrap;
        /* margin-block-start: 0;
        margin-block-end: 0; */
      }