*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Muli", sans-serif; }

.heading__h1--hero {
  font-family: Comfortaa, sans-serif;
  font-size: 11rem; }

.heading__h2 {
  font-family: Pacifico, cursive;
  font-size: 3rem; }
  .heading__h2--right {
    text-align: right; }

p {
  font-size: 2rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

*, *:before, *:after {
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1); }

#nav-container {
  position: relative;
  width: 100%; }

.nav {
  flex: 1;
  overflow: hidden;
  position: absolute;
  top: -3.5rem;
  left: 0;
  right: 0;
  height: 9.3rem;
  display: flex;
  align-items: stretch;
  text-align: center;
  z-index: 3; }
  .nav__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(calc(var(--x) * 25%)); }
  .nav__dot {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #518793;
    border: solid 2px #d5f4f3;
    position: absolute;
    left: calc((25% - 120px) / 2);
    top: 0%;
    z-index: 2;
    transform: scale(0.85);
    box-shadow: 0px 0.5vh 1vh rgba(0, 0, 0, 0.3); }
  .nav__cutout {
    width: 120px;
    height: 120px;
    top: 0px;
    left: calc((25% - 120px) / 2);
    z-index: 1;
    border-radius: 50%;
    box-shadow: 60px 60px 0 #518793, -60px 60px 0 #518793, 0 120px 0 #518793; }
    .nav__cutout:before, .nav__cutout:after {
      content: '';
      position: absolute;
      width: 1000%;
      height: 130%;
      top: 30%;
      background-color: #518793;
      border-top: solid 2px #FFF; }
    .nav__cutout:before {
      right: 100%;
      border-top-right-radius: 1vh; }
    .nav__cutout:after {
      left: 100%;
      border-top-left-radius: 1vh; }
  .nav__label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    top: 20%; }
  .nav__filler {
    flex: 4; }
  .nav__link {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-family: Comfortaa, sans-serif;
    color: #d5f4f3; }

input[name="choice"] {
  position: absolute;
  top: 0;
  opacity: 0; }

#nav-1:checked ~ * label[for="nav-1"],
#nav-2:checked ~ * label[for="nav-2"],
#nav-3:checked ~ * label[for="nav-3"],
#nav-4:checked ~ * label[for="nav-4"] {
  transform: translateY(-10%); }

#nav-1:checked ~ #nav-container {
  --x: 0; }

#nav-2:checked ~ #nav-container {
  --x: 1; }

#nav-3:checked ~ #nav-container {
  --x: 2; }

#nav-4:checked ~ #nav-container {
  --x: 3; }

.section-hero {
  position: relative;
  width: 100%;
  height: 400px; }

.hero__container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: auto;
  align-items: center; }

.hero__date, .hero__headlines {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center; }

.hero__date {
  flex: 1;
  padding: 0 2rem;
  font-family: Comfortaa, sans-serif;
  font-size: 6rem;
  text-align: center;
  background-color: rgba(133, 209, 207, 0.3); }

.hero__headlines {
  flex: 3; }

.hero__headline-pad {
  margin: auto; }

.section-about {
  position: relative;
  width: 100%;
  height: 400px; }

.about__image {
  position: absolute;
  right: 0;
  top: -12rem;
  z-index: 50; }

.about__paragraph {
  padding: 2rem;
  margin-top: 5rem; }

.about__wrap-shape {
  float: right;
  width: 700px;
  height: 450px;
  -webkit-shape-outside: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  shape-outside: polygon(0% 0%, 5% 25%, 0% 50%, 15% 75%, 70% 100%, 100% 100%, 100% 0%); }
