/* page resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: rgb(245, 245, 241);
    color: rgb(65, 80, 75);  
    font-family: sans-serif;
}
html {
    font-size: 10px;
}
h1 {
    font-size: 8rem;
    text-align: center;
    margin-bottom: 1rem;
}
p {
    font-size: 1.75rem;
    text-align: center;
    line-height: 2.5rem;
}
/* utility classes */
.u-flex-row {
    display: flex;
    flex-direction: row;
    width: 100%; height: 100%;
}


/* navigation bar */
.nav {
    display: flex;
    min-height: 100vh;
    font-size: 2rem;
    background-color: rgb(206, 101, 95);
    justify-content: center;
    padding-top: 8rem;
    box-shadow: 0px 0px 6px rgba(0,0,0,.7);
}
.nav-ul {
    list-style: none;
    margin: 0 2rem;
}
.nav-title {
    color: rgb(245, 245, 241);
    border-bottom: 2px dashed rgb(245, 245, 241);
    margin-bottom: 2rem;
    font-size: 2.25rem;
}
.nav-li {
    margin-bottom: 1rem;
    padding: 5px;
    border-radius: 6px;
    box-sizing: border-box;
}
    .nav-li:hover {
        border: 1px solid rgb(245, 245, 241);
        padding: 4px;
    }
.nav-item {
    color: rgb(245, 245, 241);
    text-decoration: none;
}

.nav-active {
    background-color: rgb(245, 245, 241);
    color: rgb(206, 101, 95);
    display: block;
    border-radius: 6px;
    padding: 1px;
}
/* main section */
main {
    flex: 1;
    padding: 4rem;
}
.main-blurb {
    background-color: rgb(194, 169, 191);
    padding: 2rem;
    color: rgb(245, 245, 241);
    box-shadow: 0px 2px 8px rgba(0,0,0,.5);
}
/* card grid */
.cardgrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
/* cards */
.card {
    display: flex;
    flex-direction: column;
    width: 22.5rem; height: 35rem;
    box-shadow: 0px 2px 8px rgba(0,0,0,.5);
    margin: 4rem 4rem 4rem 0;
    text-align: center;
    padding: .5rem;
}
.card-imageContainer {
    height: 16rem;
}
.card-image {
    width: 18rem; height: 18rem;
    box-shadow: 0px 2px 8px rgba(0,0,0,.5);
    transform: translateY(-2.5rem);
}
.card-link {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(65, 80, 75);
    background-color: rgba(197, 143, 112, .5);
    display: block;
}
.card-tagContainer {
    margin-top: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.card-blurb {
    padding: .5rem;
}
.card-tag {
    background-color: rgb(206, 101, 95);
    color: rgb(245, 245, 241);
    border: none;
    border-radius: 6px;
    padding: 4px;
    transition: all .4s ease;
    font-size: 1rem;
    margin: 2px;
}
    .card-tag:hover {
        border: 1px solid rgb(206, 101, 95);
        background-color: rgb(245, 245, 241);
        color: rgb(206, 101, 95);
        padding: 3px;
    }

/* responsive adjustments */
@media screen and (max-width: 850px){
    h1 {font-size: 7rem;}
}
@media screen and (max-width: 400px){
    h1 {font-size: 6rem;}
}
