$app-width: 36rem;


//default theme colors
$color-text-primary: rgb(59, 58, 57);
$color-text-light: rgb(176, 173, 170);

$color-main: rgb(253, 173, 88);
$color-main-light: rgb(254, 201, 124);
$color-main-dark: rgb(199, 137, 71);

$color-two: rgb(252, 244, 156);
$color-two-light: rgb(247, 241, 177);
$color-two-dark: rgb(197, 191, 122);

$color-accent: rgb(200, 226, 239);