//for anything on index page, order in sections via BEM
.section-hero {
    position: relative;
    width: 100%; height: 400px;
}
.hero {
    &__container {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%; height: 100%;
        margin: auto;
        align-items: center;
        z-index: 2;
    }
    &__date, &__headlines {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        color: $color-gray-dark;
    }
    &__date {
        flex: 1;
        padding: 0 2rem;
        font-family: Righteous, sans-serif;
        font-size: 6rem;
        text-align: center;
        background-color: rgba($color-primary, .3);
    }
    &__headlines {
        flex: 3;
    }
    &__headline-pad {
        margin: auto;
    }
}
.section-about {
    position: relative;
    width: 100%; 
}
.about {
    &__image {
        position: absolute;
        right: 0; top: -10rem;
        z-index: 50;
    }
    &__paragraph {
        padding: 7rem 2rem;
    }
    &__wrap-shape {
        float: right;
        width: 700px;
        height: 450px;
        -webkit-shape-outside: polygon(0% 0%, 0% 60%, 15% 75%, 70% 100%, 100% 100%, 100% 0%);
        shape-outside: polygon(0% 0%, 0% 60%, 15% 75%, 70% 100%, 100% 100%, 100% 0%);
    }
}
.section-speakers {
    position: relative;
    width: 100%; 
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
}
.speakers {
    &__background {
        position: absolute;
        top: 0; right: 0;
        width: 100%; height: 100%;
        background-image: linear-gradient(to right, transparent, $color-primary-light);
        opacity: .8;
        box-shadow: 0px 2px 6px rgba(0,0,0,.4);
        box-shadow: 0px 2px 6px rgba(0,0,0,.4);
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        width: 80%;
        margin: auto;
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        transition: all .3s ease;
    }
    &__headshot {
        width: 240px; height: 240px;
        border-radius: 50%;
        box-shadow: 0px 2px 6px rgba(0,0,0,.4);
        margin: 1rem;

        &:hover {transform: scale(1.1);}
        &:hover + .speakers__name {
            transform: translateY(2px);
            font-size: 3.5rem;
        }
    }
}