*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: #c8e2ef;
  font-family: Roboto, sans-serif;
  font-weight: 400; }

.page-container {
  width: 36rem;
  margin: auto;
  background-color: #c8e2ef; }

h2 {
  color: #3b3a39;
  font-family: "Roboto", sans-serif; }

h3 {
  color: #c78947;
  font-family: "Roboto", sans-serif; }

p {
  font-family: "Roboto Condensed", sans-serif; }

.section__expanded {
  position: fixed;
  width: 36rem;
  height: 100%;
  transform: scale(1); }

.flip__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f1b1; }

.flip__icon-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto; }

.flip__icon-box > * {
  margin: 0 .25rem; }

.flip__icon {
  width: 3rem;
  height: 3rem;
  fill: #3b3a39; }
  .flip__icon--dice {
    width: 1.5rem;
    height: 1.5rem;
    padding: .5rem; }

.flip__button {
  border: none;
  border-radius: 6px;
  background-color: #fdad58;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  transition: all .2s; }
  .flip__button:hover {
    background-color: #c78947;
    transform: translateY(2px); }

.flip__title {
  font-weight: 300; }

.nav__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right bottom, #fdad58, #fec97c);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  align-items: center; }

.nav__title {
  margin-right: auto; }

.nav__container > * {
  padding: 0 1rem; }

.nav__user-greeting {
  font-size: 1.5rem; }

.nav__title {
  font-size: 2rem;
  font-family: Barriecito, sans-serif; }

.news__container {
  height: 100%;
  width: 100%;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.section-nav {
  width: 100%;
  height: 5rem; }

.main-content {
  display: grid;
  width: 100%;
  min-height: 75rem;
  grid-template-areas: "news news weather"
 "news news weather"
 "news news hangman"
 "news news tasks"
 "notes notes tasks"
 "notes notes tasks"
 "recipe trivia trivia"
 "recipe calculator calculator"
 "flip calculator calculator"
 "timezone currency currency";
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1px;
  position: relative;
  overflow: hidden;
  transition: all .5s ease; }

.app {
  border-radius: 6px;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box; }

.section-news {
  grid-area: news; }

.section-weather {
  grid-area: weather; }

.section-hangman {
  grid-area: hangman; }

.section-tasks {
  grid-area: tasks; }

.section-notes {
  grid-area: notes; }

.section-recipe {
  grid-area: recipe; }

.section-flip {
  grid-area: flip; }

.section-trivia {
  grid-area: trivia; }

.section-timezone {
  grid-area: timezone; }

.section-currency {
  grid-area: currency; }

.section-calculator {
  grid-area: calculator; }
