*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
// font size equiv to 10px, but allows for accessibility devices to change font size
html {
    font-size: 62.5%;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: $color-text;
    background: $color-white;
    position: relative;
}