h1 {
    font-size: 6.4rem;
    font-family: "Sedgwick Ave", sans-serif;
    color: $color-text;
    @include respond(ipadMini){
        font-size: 8rem;
    }
    @include respond(smDesktop){
        font-size: 11rem;
    }
}
h2 {
    font-size: 3.6rem;
    font-family: "Sedgwick Ave", sans-serif;
    color: $color-text;
    text-align: center;
    @include respond(smDesktop){font-size: 6rem;}
}