/* common styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    width: 99vw; height: 99vh;
    font-family: sans-serif;
    font-size: 10px;
}
h2 {
    width: 100%;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 2.4rem;
}
main {
    position: relative;
    height: 100vh; width: 100%;
    padding: 2rem;
    background-color: white;
}
.btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    outline: none;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.8),
                0 2px 0 rgba(0,0,0,0.8),
                0 3px 0 rgba(0,0,0,0.7),
                0 4px 0 rgba(0,0,0,0.6),
                0 5px 0 rgba(0,0,0,0.5),
                0 6px 0 rgba(0,0,0,0.4),
                0 7px 0 rgba(0,0,0,0.3),
                0 8px 0 rgba(0,0,0,0.2),
                0 9px 0 rgba(0,0,0,0.1);
} 
    .btn:active {
      top: 2px;
      box-shadow: inset 0 1px 0 rgba(0,0,0,0.8),
                    0 2px 0 rgba(0,0,0,0.8),
                    0 3px 0 rgba(0,0,0,0.7),
                    0 4px 0 rgba(0,0,0,0.6),
                    0 5px 0 rgba(0,0,0,0.5),
                    0 6px 0 rgba(0,0,0,0.4);
    }
.btn--navBtn {
    height: 10rem; width: 10rem;
    margin: 1rem;
    background-color: rgb(100, 0, 2);
    z-index: 4;
}
/* BACKGROUND PIECES*/
/* beginning background */
.bg {
    height: 100%; width: 100%;
    background-clip: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg--bgStart {
    display: none;
    background-image: linear-gradient(to right bottom, rgba(100, 0, 2, 0.3), rgba(139, 8, 10, 0.3)), 
                        url(images/barmanBg.jpg);          
    clip-path: url(#bgStartClip);
}
    .bg--bgStart::after {
        display: none;
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 100%;
        background-color: rgb(100, 0, 2);
        animation: startToMid 6s ease-in;
        opacity: 0;
        content: "";
    }
/* ending background */
.bg--bgEnd {
    /* display: none; */
    display: flex;
    flex-direction: column;
    background-image: url(images/barmanBg.jpg);
    clip-path: url(#bgEndClip);
    opacity: 1;
    /* opacity: 0; */
}
/* HOME STYLES */
.info {
    position: absolute;
    top:0; left:0;
    height: 100%; width: 100%;
    padding: 2rem;
}
header {
    height: 40%;
}
    .btn--drinkBtn {
        position: absolute;
        top: 50%; left: 50%;
        height: 16rem; width: 16rem;
        margin: 1rem;
        background-image: url(images/cocktailBtn.jpg);
        background-repeat: no-repeat;
        background-position: center;
        transform: translate(-55%, -50%);
        z-index: 2;
    } 
    /* look at past project, mb best to do a calc on this instead of % as will be changing everything to rem */
        .btn--drinkBtn:active {top: calc(50% + 2px);}
    .headline {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: auto;
        padding-top: 6rem;
        font-family: "Montserrat Alternates", sans-serif;
        line-height: 2rem;
    }
        .headline__h1 {
            flex: 1;
            padding: 1rem;
            font-size: 12rem;
            font-weight: 900;
            text-align: right;
        }
        .headline__h1--initialLtr {font-size: 20rem;}
        .headline__p {
            width: 26rem;
            padding: 1rem;
            font-size: 3rem;
            font-weight: 500;
            text-align: left;
            line-height: 3rem;
        }
.description {
    display: flex;
    flex-direction: row;
    height: 60%;
}
    .description__p {
        padding: 6.5rem 10rem 2rem 10rem;
        font-size: 1.8rem;
    }
.description__desc1, .description__desc2 {
    flex: 1;
}
    .desc1__h2 {
        padding: 0rem 11rem .5rem 2rem;
        text-align: right;
    }
    .desc2__h2 {
        padding: 0rem 2rem .5rem 11rem;
        text-align: left;
    }
.btn--infoBtn {
    position: relative;
    bottom: 0;
    height: 5.4rem; width: 20rem;
    margin: auto 25%;
    border: 2px solid black;
    border-radius: 55%;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 2.4rem;
}

/* ANIMATIONS */
@keyframes startToMid {
    0% {
        opacity: 0;
        transform: scaleX(0.1) scaleY(0.1);
    }
    100%{
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
}
@keyframes whiteOut {
    0% {opacity: 0;}
    100%{opacity: 1;}
}

/* mobile tweaks */
@media screen and (max-width: 768px){
    html {font-size: 6px;}
    .headline, .bg--bgEnd, .description {
        flex-direction: column;
    }
    .headline{padding-top: 4rem;}
    .headline__h1{
        font-size: 8rem;
        text-align: left;    
    }
    .headline__h1--initialLtr{font-size: 10rem;}
    .headline__p{
        width: auto;
        font-size: 2.5rem;
    }
    .btn--navBtn {
        height: 8rem; width: 8rem;
    }
    .btn--drinkBtn {
        top: 30%; left: 50%;
        height: 12rem; width: 12rem;
        background-size: contain;
    } 
    .description {height: 50%;}
    .description__p {
        padding: 2rem 3rem .5rem 3rem;
        font-size: 1.6rem;
    }
    .btn--infoBtn {
        height: 3.25rem; width: 17rem;
        margin: 0% 35% 0% 35%;
        font-size: 1.8rem;
    }
}