.info__faq {
    position: absolute;
    top: 0; left: 0;
    margin: 7%;
    height: 100%;
}
.faq__ul {
    list-style: none;
    padding: 5rem 16rem 0rem 9rem;
}
.faq__li {padding-bottom: 2rem;}

/* mobile tweaks */
@media screen and (max-width: 440px){
    .faq__ul{padding: 18rem 12rem 0rem 0rem;}
    .headline__h1--secondary{
        top: 50rem;
        right: -22rem;
        padding: 0rem 1rem;
    }
    .headline__h1--initialLtr {font-size: 7rem;}
}
@media screen and (max-width: 400px){
    .faq__ul{padding: 12rem 12rem 0rem 0rem;}
}
@media screen and (max-width: 330px){
    .faq__ul{padding: 10rem 12rem 0rem 0rem;}
    h2 {font-size: 2rem;}
}
@media screen and (min-height: 1000px){
    .faq__ul{padding: 18rem 12rem 0rem 0rem;}
    .headline__h1--secondary{top: 60rem;}
}
@media screen and (min-width: 1280px){
    .headline__h1--secondary{top: 37rem;}
    .faq__ul{padding: 10rem 16rem 0rem 15rem;}
    h2 {font-size: 2rem;}
}