.headline__h1 {
    top: 10%; right: -37%;
}
.options {
    display: flex;
    flex-direction: row;
}
.cardContainer {
    position: relative;
    width: 30rem;
    height: 50rem;
    margin: 5rem 2rem 0 2rem;
}
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(243, 235, 235);
    border: 2px black solid;
    border-radius: 1rem;
    transform-style: preserve-3d; 
    transition: all 1s ease; 
}
.card:hover, .card:hover, .card:hover {transform: rotateX(180deg);}
.card--front, .card--back {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border-radius: 1rem; 
    backface-visibility: hidden; 
    overflow: hidden; 
}
.card--front { 
    background-color: rgb(243, 235, 235);;
} 
.card--back { 
    background-color: rgba(196, 156, 69, 0.9);
    transform: rotateX(180deg); 
}