.h2--options {
    position: relative;
    width: 100%;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 2.2rem;
    text-align: left;
    padding: 1.1rem;
    top: -3rem; left: -3rem;
    color: black;
    background-color: rgba(100, 0, 2, .3);
}
.options {
    display: flex;
    flex-direction: row;
    padding-top: 12rem;
}
.cardContainer {
    position: relative;
    width: calc(30rem + 4px);
    height: calc(50rem + 4px);
    margin: 5rem 2rem 0 2rem;
    background-color: black;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 67% 10%, 67% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 67% 10%, 67% 0%);
    transition: all 1s ease; 
}
.card {
    position: absolute;
    top: 2px; left: 2px;
    width: 30rem;
    height: 50rem;
    background-image: linear-gradient(30deg, white, rgb(218, 214, 214));
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 66.5% 10%, 66.5% 0%);
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 66.5% 10%, 66.5% 0%);
    padding: 3rem;
    text-align: center;
    align-content: center;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
    z-index: 1;
}
.cardContainer:hover {
    transform: translateY(3px) scale(1.1);
    z-index: 2;
}
.card__inside {
    display: flex;
    flex-direction: column;
}

.pricing {
    color: rgb(100, 0, 2);
    font-size: 2.5rem;
}
.pricing__value {font-size: 10rem;}
ul {
    padding: 2rem;
    font-size: 1.8rem;
    list-style: circle;
    text-align: left;
}
li:not(:last-child) {
    margin-bottom: 1rem;
}
.btn--signup, .btn--submit {
    height: 4rem; width: 12rem;
    background-color: rgb(100, 0, 2);
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 2rem;
}
.btn--signup {
    position: absolute;
    bottom: 3rem; right: 9rem;
}
    .btn--signup:hover, .btn--submit:hover {
        background-color: rgb(129, 9, 11);
    }
    .btn--signup:active {bottom: calc(3rem - 2px);}
/* signup form */
form {
    position: relative;
    align-content: center;
    text-align: center;
}
.form {
    height: 100%; width: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(255,255,255, .8);
    z-index: 90;
    display: none;
    margin: auto;
    align-content: center;
    opacity: 0;
    transition: all 1s ease-in;
}
.show {
    display: block;
    opacity: 1;
}
.form__close {
    height: 3rem; width: 3rem;
    color: black;
    text-align: center;
    line-height: 1;
}
.form__close:link, .form__close:visited {
    position: absolute;
    top: 2.5rem; right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
}

.form__container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem 6rem;
    background-color: #888;
    font-size: 2rem;
    
}
.form__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
}
.form__group {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
.btn--submit {
    position: relative;
    margin: auto;
    right: auto; bottom: auto;
    margin-top: 1.5rem;
}
    .btn--submit:active {bottom: -2px;}
input, select {
    margin: 2px 1.5rem;
    height: 3rem;
    text-align: center;
    border-radius: 6px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.5); 
    border-bottom: 1px solid white;
    background-color: white;
}
    input:focus, select:focus {
        outline: none;
        border-bottom: 3px solid rgb(100, 0, 2);
    }
    input:focus:invalid, select:focus:invalid {
        border: 3px solid rgb(100, 0, 2);
    }
    input:placeholder-shown + .form__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
label {
    transition: all .2s ease-in;
}

/* mobile tweaks */
@media screen and (max-width: 440px){
    .headline__h1--secondary{
        top: 50rem;
        right: -22rem;
        padding: 0rem 1rem;
    }
    .headline__h1--initialLtr {font-size: 7rem;}
    .h2--options {
        padding: 1rem 1rem 0rem 1rem;
        top: -.75rem; left: -1.5rem;
    }
    .card__inside {
        flex-direction: row;
    }
    .cardContainer {
        width: calc(45rem + 4px);
        height: calc(25rem + 4px);
        margin: 4rem 1rem -10rem 0;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 12%, 45.5% 12%, 45.5% 0%);
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 12%, 45.5% 12%, 45.5% 0%);
    }
    .card {
        width: 45rem;
        height: 25rem;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 12%, 45% 12%, 45% 0%);
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 12%, 45% 12%, 45% 0%);
    }
    .cardContainer:hover {
        transform: translateY(3px) scale(1);
    }
    .card {
        flex-direction: row;
        padding: 0 1rem 1rem 1rem;
    }
    .pricing__value {font-size: 8rem;}
    .options {
        flex-direction: column;
    }
    ul {
        font-size: 1.4rem;
        padding-left: 3rem;
    }
    .btn--signup {
        bottom: 2.5rem; right: 20%;
    }
}
@media screen and (max-width: 330px){
    .headline__h1--secondary{
        font-size: 3rem;
        top: 6rem; right: 3rem;
        transform: rotate(0deg);
    }
   
}
@media screen and (min-height: 1000px){
    .headline__h1--secondary{
        top: 50rem;
    }
    .h2--options {
        padding: 1rem 1rem .2rem 1rem;
        top: -4rem; left: -3rem;
    }
    .card__inside {
        flex-direction: row;
    }
    .cardContainer {
        width: calc(65rem + 4px);
        height: calc(28rem + 4px);
        margin: 2rem 2rem 0 1rem;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 32.5% 10%, 32.5% 0%);
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 32.5% 10%, 32.5% 0%);
    }
    .card {
        width: 65rem;
        height: 28rem;
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 32% 10%, 32% 0%);
        -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 32% 10%, 32% 0%);
    }
    .cardContainer:hover {
        transform: translateY(3px) scale(1);
    }
    .card {
        flex-direction: row;
    }
    .options {flex-direction: column;}
    ul {
        padding-left: 6rem;
    }
    .btn--signup {
        bottom: 2.5rem; right: 40%;
    }
}
@media screen and (min-height: 1200px){
    html {font-size: 10px;}
    .headline__h1--secondary{
        top: 60rem;
    }
    .cardContainer {
        width: calc(70rem + 4px);
        height: calc(30rem + 4px);
        margin: 5rem 2rem 0 12rem;
    }
    .cardContainer:hover {
        transform: translateY(3px) scale(1);
    }
    .card {
        width: 70rem;
        height: 30rem;
    }
}
@media screen and (min-width: 1280px){
    .headline__h1--secondary{
        top: 40rem; right: -21rem;
    }
    .cardContainer {
        margin: 5rem 3rem 0 3rem;
    }
}