.options {
    display: flex;
    flex-direction: row;
}
.cardContainer {
    position: relative;
    width: 30rem;
    height: 50rem;
    margin: 5rem 2rem 0 2rem;
}
.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(30deg, white, rgb(218, 214, 214));
    padding: 3rem;
    border: 2px black solid;
    border-radius: 1rem;
    text-align: center;
    align-content: center;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5);
    transform-style: preserve-3d; 
    transition: all 1s ease; 
    
}
.card:hover {transform: translateY(3px) scale(1.1);}

.pricing {
    color: rgb(100, 0, 2);
    font-size: 2.5rem;
}
.pricing__value {font-size: 10rem;}
ul {
    padding: 2rem;
    font-size: 1.8rem;
    list-style: circle;
    text-align: left;
}
li:not(:last-child) {
    margin-bottom: 1rem;
}
.btn--signup {
    height: 4rem; width: 12rem;
    position: absolute;
    bottom: 3rem; right: 9rem;
    background-color: rgb(100, 0, 2);
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 2rem;
}
    .btn--signup:hover{
        background-color: rgb(129, 9, 11);
    }
    .btn--signup:active {bottom: calc(3rem - 2px);}

/* mobile tweaks */
@media screen and (max-width: 440px){
    .headline__h1--secondary{
        top: 50rem;
        right: -22rem;
        padding: 0rem 1rem;
    }
    .headline__h1--initialLtr {font-size: 7rem;}
}
@media screen and (max-width: 400px){
    
}
@media screen and (max-width: 330px){
    /* start here, having issues fitting all the cards in. Could we layer them? */
    .options {
        flex-direction: column;
    }
    .headline__h1--secondary {
        top: 42rem; right: -17rem;
        font-size: 4rem;
    }
    .headline__h1--initialLtr {font-size: 6rem;}
}
@media screen and (min-height: 1000px){
    .headline__h1--secondary{
        top: 50rem;
    }
    .options {
        flex-direction: column;
    }
    .cardContainer {
        width: 65rem;
        height: 28rem;
        margin: 2rem 2rem 0 1rem;
    }
    .card:hover {transform: translateY(2px) scale(1.05);}
    .card--front {
        flex-direction: row;
    }
    ul {
        padding-left: 6rem;
    }
    .btn--signup {
        bottom: 3rem; right: 40%;
    }
}
@media screen and (min-height: 1200px){
    html {font-size: 10px;}
    .headline__h1--secondary{
        top: 60rem;
    }
    .cardContainer {
        width: 70rem;
        height: 30rem;
        margin: 5rem 2rem 0 12rem;
    }
}
@media screen and (min-width: 1280px){
    .headline__h1--secondary{
        top: 37rem; right: -21rem;
    }
    .cardContainer {
        margin: 5rem 3rem 0 3rem;
    }
}