$color-white: #fff;
$color-gray-light: #cacccb;
$color-gray-dark: #2b2a2a;
$color-black: #000;

$color-teal-light: #18adbc;
$color-teal: #1b8c9c;
$color-teal-dark: #0b6b79;

$color-primary-light: #d5f4f3;
$color-primary: #85d1cf;
$color-primary-dark: #518793;

$default-font-size: 1.6rem;

//for nav
$cutout-size: 120px;