*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #452A24;
    font-family: Poppins, sans-serif;
    font-weight: 300;
}
.background--blankets {
    background-image: url(images/blankets.jpg);
}
.background--chocolate {
    background-image: url(images/chocolate.jpg);
}
.background--kitty {
    background-image: url(images/kitty.jpg);
}
.background--laugh {
    background-image: url(images/laugh.jpg);
}
.background--puppy {
    background-image: url(images/puppy.jpg);
}
.background--rainbow {
    background-image: url(images/rainbow.jpg);
}
.backgroundMask {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: white;
    opacity: 1;
    animation: whiteWash 12.0s linear forwards infinite;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle__container {
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(1);
}
.circle__container.grow {
    animation: grow 4s linear forwards;
}
.circle__container.shrink {
    animation: shrink 4s linear forwards;
}
.circle__border {
    position: absolute;
    top: -10px;
    overflow: hidden;
}
.circle__border--breath {
    background-color: #37D5BB; 
    height: 320px;
    width: 320px;
    left: -10px;
    z-index: -3;
    border-radius: 50%;
}
.circle__border--hold {
    background-color: #AC405C;
    z-index: -2;
    height: 340px;
    width: 160px;
    left: 85px;
    transform: rotate(-30deg);
}
.circle__center {
    background-color: #F4F7F7;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    border-radius: 50%;
}
.circle__pointer--container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotatePointer 12.0s linear forwards infinite;
    transform-origin: bottom center;
}
.circle__pointer {
    background-color: #452A24;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}
.circle__text {
    font-size: 40px;
}
.visualization {
    margin-top: 100px;
    flex-direction: column;
}
.visualization__headline {
    font-weight: 600;
    font-size: 36px;
}
.visualization__text {
    font-size: 52px;
}
@keyframes rotatePointer {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
@keyframes whiteWash {
    0% {opacity: 1;}
    5% {opacity: .5;}
    98% {opacity: .5;}
    100% {opacity: 1;}
}
@keyframes grow {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.2)
    }
}
@keyframes shrink {
    from {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}