*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #452A24;
    font-family: Poppins, sans-serif;
    font-weight: 300;
}
.background--blankets {
    background-image: url(images/blankets.jpg);
}
.background--chocolate {
    background-image: url(images/chocolate.jpg);
}
.background--kitty {
    background-image: url(images/kitty.jpg);
}
.background--laugh {
    background-image: url(images/laugh.jpg);
}
.background--puppy {
    background-image: url(images/puppy.jpg);
}
.background--rainbow {
    background-image: url(images/rainbow.jpg);
}
.backgroundMask {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: white;
    opacity: 1;
    -webkit-animation: whiteWash 12.0s linear forwards infinite;
            animation: whiteWash 12.0s linear forwards infinite;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle__border {
    position: absolute;
    top: -10px;
    overflow: hidden;
}
.circle__border--breath {
    background-color: #37D5BB; 
    height: 32rem;
    width: 32rem;
    left: -1rem;
    z-index: -3;
    border-radius: 50%;
}
.circle__border--hold {
    background-color: #AC405C;
    z-index: -2;
    height: 34rem;
    width: 16rem;
    left: 8.5rem;
    transform: rotate(-30deg);
}
.circle__center {
    background-color: #F4F7F7;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    border-radius: 50%;
}
.circle__container {
    height: 30rem;
    width: 30rem;
    position: relative;
    transform: scale(1);
}
.circle__container.grow {
    -webkit-animation: grow 4s linear forwards;
            animation: grow 4s linear forwards;
}
.circle__container.shrink {
    -webkit-animation: shrink 4s linear forwards;
            animation: shrink 4s linear forwards;
}
.circle__pointer {
    background-color: #452A24;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}
.circle__pointer--container {
    position: absolute;
    top: -4rem;
    left: 14rem;
    width: 2rem;
    height: 19rem;
    -webkit-animation: rotatePointer 12.0s linear forwards infinite;
            animation: rotatePointer 12.0s linear forwards infinite;
    transform-origin: bottom center;
}
.circle__text {
    font-size: 4rem;
}
.visualization {
    margin-top: 10rem;
    flex-direction: column;
}
.visualization__headline {
    font-weight: 600;
    font-size: 3.6rem;
}
.visualization__text {
    font-size: 5.2rem;
}
@-webkit-keyframes grow {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.2)
    }
}
@keyframes grow {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.2)
    }
}
@-webkit-keyframes whiteWash {
    0% {opacity: 1;}
    5% {opacity: .5;}
    98% {opacity: .5;}
    100% {opacity: 1;}
}
@keyframes whiteWash {
    0% {opacity: 1;}
    5% {opacity: .5;}
    98% {opacity: .5;}
    100% {opacity: 1;}
}

@-webkit-keyframes rotatePointer {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes rotatePointer {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
@-webkit-keyframes shrink {
    from {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}
@keyframes shrink {
    from {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}


/* mobile tweaks */
@media screen and (max-width: 420px){
    html {font-size: 45%;}
}