.header {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;

    &__icon {
        width: 2.8rem; height: 2.8rem;
        fill: $color-text;
        margin-left: 4rem;
    }
    &__settings {
        background: transparent;
        border: none;
    }
    &__username {
        font-size: 2.4rem;
    }
}