.datepicker {

    &__button {
        background: transparent;
        border: none;
        &--save {margin-left: auto;}
        &--close {
            margin-left: 2rem;
            font-size: 2.7rem;
        }
    }
    &__container{
        width: 60%; 
        padding: 1rem;
        background-color: $color-white;
        @include flex-column;
        @include shadow;
        @include respond(smDesktop){
            width: 30%;
            padding: 2rem;
        }
    }
    &__chosen {
        @include flex-row;
        align-items: center;
        padding: .5rem 1rem;

        &-dateDisplay {
            font-family: "Love Ya Like A Sister", sans-serif;
            font-size: 2.6rem;
        }
    }
    &__days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);    
    }
    &__day {
        text-align: center;
        line-height: 2.5rem;
        font-size: 1.6rem;
        border-radius: 50%;
        transition: all .4s ease-in;
        &:hover {
            background-color: rgba($color-accent-dark, .8);
            
            color: $color-white;
        }
    }
    &__month {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
        border-top: 1px solid $color-accent-dark;
        border-bottom: 1px solid $color-accent-dark;
        background-color: $color-accent-light;
    }
}

.datepicker, .options {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color-text,.8);
    @include flex-row;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.options {
    &__container {
        width: 80%;
        background-color: $color-white;
        @include flex-column;
        @include shadow;
        position: relative;
        padding: 4rem;
        align-items: center;
        @include respond(smDesktop){
            width: 50%;
        }
    }
    &__close {
        background: transparent;
        border: none;
        position: absolute;
        top: 0; right: 0;
        margin: 2rem;
        font-size: 2rem;
        transition: all .2s ease;
        outline: none;

        &:hover {
            color: $color-background;
        }
    }
    &__welcome {
        color: rgba($color-text, .7);
    }
    & p {
        font-size: 1.3rem;
        margin: 1rem 0;
    }
    & a {
        color: $color-accent-dark;
    }
}