.nav {
    &__container {
        width: 100%; height: 100%;
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(to right bottom, $color-main, $color-main-light);
        box-shadow: 0px 4px 6px rgba(0,0,0,.5);
        border-radius: 6px;
        align-items: center;
    }
    &__title {
        margin-right: auto;
    }
    &__container > * {
        padding: 0 1rem;
    }
    &__user-greeting {
        font-size: 1.5rem;
    }
    &__title {
        font-size: 2rem;
        font-family: Barriecito, sans-serif;
    }
    &__icon {
        width: 3rem; height: 3rem;
        fill: $color-text-primary;
        transition: all .4s ease-in;

        &:hover {
            fill: $color-text-light;
        }
    }
}