.timezone {
    &__container {
        display: flex;
        flex-direction: column;
        height: 100%; width: 100%;
        align-items: center;
    }
    &__title {
        font-weight: 300;
        margin: .5rem auto;
        background-color: $color-main-light;
        width: 100%;
        text-align: center;
    }
    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        z-index: 2;
    }
    &__column {
        display: flex;
        flex-direction: column;
    }
    &__local, &__other {
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
    }
    &__timezone, &__local, &__other {
        display: flex;
        flex: 1;
        align-items: center;
        font-size: 1.5rem;
    }
    &__bgicon {
        fill: rgba($color-text-light, .4);
        position: absolute;
        bottom: -5rem;
        left: -4rem;
        z-index: 1;
        width: 15rem; height: 15rem;
    }
    &__timezone {
        font-size: 1.2rem;
        font-style: "Roboto Condensed", sans-serif;
        color: $color-main;
    }
    &__btnIcon {
        height: 1rem; width: 1rem;
    }
}