@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}