.grid {
    display: grid;
    width: 100%;
    grid-template-areas: "video"
        "progress"
        "buttons"
        "volume";
    grid-auto-columns: 1fr;
}

.video {
    grid-area: video;
}
.progress {
    grid-area: progress;
    height: 50px; width: 100%;
    background-color: green;
}
.buttons {
    grid-area: buttons;
    @include flex-row;
    justify-content: space-between;
    padding: 2rem;

    &__button {
        border: 3px solid $color-white;
        border-radius: 1.5rem;
        height: 4.5rem; width: 4.5rem;
        @include flex-row;
        @include shadow;
        &--play {background-color: $color-green;}
        &--rew {
            background-color: $color-orange;
            & .buttons__svg {
                padding-right: 5px;
            }
        }
        &--ff {
            background-color: $color-brown;
            & .buttons__svg {
                padding-left: 5px;
            }
        }
        &--pause {background-color: $color-red;}
    }
    &__svg {
        fill: $color-white;
        height: 3rem; width: 3rem;
    }
}
.volume {
    grid-area: volume;
    height: 50px; width: 100%;
    background-color: blue;
}