.grid {
    width: 100%;
    display: grid;
    grid-template-areas: "video_container"
        "progress_container"
        "buttons_container"
        "volume_container";
    grid-auto-columns: 1fr;
}

.video {
    grid-area: video_container;
    width: 100%;
    margin-top: 5.5rem;
    @include flex-column;
    align-items: center;

    &__screen {
        width: 100%;
    }
    &__dropdown {
        margin: 0 1rem 2rem 1rem;
        width: calc(100% - 2rem);
        background-color: $color-white;
        border: 3px solid $color-white;
        @include shadow;
        border-radius: 1.5rem;
        color: rgba($color-text, .7);
        text-decoration: underline;
        font-size: 1.4rem;
        font-family: "Roboto", sans-serif;
        padding: .5rem 1.5rem;
    }
}
.progress {
    grid-area: progress_container;
    height: 50px; width: 100%;
    background-color: green;
}
.buttons {
    grid-area: buttons_container;
    @include flex-row;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
    &__button {
        border: 3px solid $color-white;
        border-radius: 1.5rem;
        height: 4.5rem; width: 4.5rem;
        @include flex-row;
        @include shadow;
        &--play {background-color: $color-green;}
        &--rew {
            background-color: $color-orange;
            & .buttons__svg {
                padding-right: 5px;
            }
        }
        &--ff {
            background-color: $color-brown;
            & .buttons__svg {
                padding-left: 5px;
            }
        }
        &--pause {background-color: $color-red;}
    }
    &__svg {
        fill: $color-white;
        height: 3rem; width: 3rem;
    }
}
.volume {
    grid-area: volume_container;
    height: 50px; width: 100%;
    background-color: blue;
    &__bar {
        -webkit-appearance: media-sliderthumb;
        height: 3rem;
        @include shadow;
        border: 3px solid $color-white;
        border-radius: 1.5rem;
        background-color: $color-white;
        margin: 2rem 1rem;
        width: calc(100% - 2rem);
    }
}