.grid {
    width: 100%;
    display: grid;
    grid-template-areas: "video_container"
        "progress_container"
        "buttons_container"
        "volume_container";
    grid-auto-columns: 1fr;
}

.video {
    grid-area: video_container;
    width: 100%;
    margin-top: 5.5rem;
    @include flex-column;
    align-items: center;

    &__screen {
        width: 100%;
    }
    &__dropdown {
        margin: 0 1rem 2rem 1rem;
        width: calc(100% - 2rem);
        background-color: $color-white;
        border: 3px solid $color-white;
        @include shadow;
        border-radius: 1.5rem;
        color: rgba($color-text, .7);
        text-decoration: underline;
        font-size: 1.4rem;
        font-family: "Roboto", sans-serif;
        padding: .5rem 1.5rem;
        &:focus {outline: none;}
    }
}
.progress {
    grid-area: progress_container;
}
.buttons {
    grid-area: buttons_container;
    @include flex-row;
    width: 100%;
    justify-content: center;
    padding: 0 2rem;
    
    &__button {
        border: 3px solid $color-white;
        border-radius: 1.5rem;
        height: 4.5rem; width: 4.5rem;
        @include flex-row;
        @include shadow;
        &:focus {outline: none;}
        &:hover {
            @include pressedShadow;
        }
        &--rew {
            background-color: $color-orange;
            & .buttons__svg {
                padding-right: 5px;
            }
        }
        &--ff {
            background-color: $color-brown;
            & .buttons__svg {
                padding-left: 5px;
            }
        }
    }
    &__playButton {
        background-color: $color-green;
        margin: 0 4.5rem;
        &--pause {
            background-color: $color-red;
        }
    }
    &__svg {
        fill: $color-white;
        height: 3rem; width: 3rem;
        &--hidden {
            display: hidden;
            width: 0; height: 0;
        }
    }
}
.volume {
    grid-area: volume_container;
}

.progress, .volume {
    @include flex-row;
    padding: 0 1rem;
    align-items: center;
    width: 100%;
    position: relative;
    &__svg {
        fill: $color-text;
        height: 3rem; width: 3rem;
        &--hidden {
            display: hidden;
            width: 0; height: 0;
        }
    }
}
.progress__bar, .volume__bar {
    -webkit-appearance: none;
    margin: 2rem 1rem;
    width: calc(100% - 2rem);
    height: 2rem;
    border: 3px solid $color-white;
    border-radius: 1.5rem;
    @include shadow;
    position: relative;

    &:focus {outline: none;}
    &--indicator {
        background-color: $color-yellow;
        border-radius: 1.5rem 0 0 1.5rem;
    }
}

progress::-webkit-progress-bar {
    background-color: $color-white;
    border-radius: 1.5rem;
}
progress::-webkit-progress-value {
    background-color: $color-yellow;
    border-radius: 1.5rem 0 0 1.5rem;
}
