body {
	background-color: #4A4D51;
}
p {
	padding: 10px 10px 0px 10px;
	margin: 0;
}
#mainCont {
	width: 70%;
	height: 100%;
	margin: 10% auto;
}
.announce {
	background-color: white;
	border-radius: 16px;
	border: 3px solid #3C1D30;
	height: 300px;
	margin-bottom: 30px;
}
.playArea {
	background-color: white;
	border-radius: 16px;
	border: 3px solid #3C1D30;
	padding: 5px;
}
.btnBox:hover img {
	opacity: 0.7;
}
.btnImg {
	width: 100px;
	float: left;
	position: absolute;
}
.faded {
	opacity: .5;
}

button {
	z-index: 2;
	float: left;
	position: absolute;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	padding: 5px 20px;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 2px 2px #000000,
				2px -2px #000000,
				-2px 2px #000000,
				-2px -2px #000000;
}
.btnBox {
	width: 100px;
	position: relative;
	color: black;
}
.barPiece {
	border: 1px solid black;
	border-radius: 6px;
	height: 20px;
	margin: 0px 0px 20px 0px;
}
.fulfilled {
	background-color: #B22230;
}

