.contact {
    position: relative;
    width: 100%;
    height: 46rem;

    &__background {
        background: url(/images/contactDesk.svg) no-repeat;
        background-size: cover;
        width: 100%; height: 100%;
        position: absolute;
        bottom: 0; right: 0;
        z-index: 2;
    }
}