.nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    display: flex;
    padding: 1rem 4rem;
    color: $color-brand;
    font-size: 2.2rem;
    z-index: 10;

    &__monogram {
        font-family: "Macondo Swash Caps", sans-serif;
        font-size: 3rem;
    }
    &__links {
        margin-left: auto;

        &--link{
            text-decoration: none;
            padding: 0 2rem;
            color: $color-brand;
        }
    }
}