.projects {
    @include flex-row;
    width: 100%;
    height: 60rem;
    margin: 3rem 0 20rem 0;
    align-items: center;
    position: relative;

    &__bookend {
        @include flex-column;
        @include shadow;
        height: 100%;
        flex: 1;
        max-width: 10%;
        position: relative;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;

        &:before,
        &-film {
            box-shadow: inset 0 .5rem 1rem rgba(0,0,0,.3);
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            background: linear-gradient(90deg, transparent 0%, 
                    rgba(247, 250, 252, 0.3) 70%, 
                    transparent 100%);
        }
        &-title {
            position: relative;
            font-size: 4rem;
            writing-mode: vertical-rl;
            text-orientation: sideways-right;
            white-space: nowrap;
            z-index: 2; 
        }
        &--one {
            background-image: url(../images/resourcedBg.jpg);
        }
        &--two {
            background-image: url(../images/barmanBg.jpg);
        }
        &--three {
            background-image: url(../images/citrouilleBg.jpg);
        }
        &--four {
            background-image: url(../images/realtorBg.jpg);
        }
    }
    &__infopanel {

        &-blurb {
            margin: 1rem 0;
            font-size: 1.6rem;
        }
        &-contents {
            padding: 1rem 2.5rem;
        }
        &-instructions {
            color: $color-text-light;
        }
        &-list {padding: 0 3rem;}
        &-listitem:not(:last-of-type) {
            margin-bottom: .75rem;
        }
        &-projectname {
            color: $color-text-headline;
            font-weight: 600;
        }
        &-ghbutton {
            margin: 3rem auto 0 auto;
        }
        &-ghbuttonlink {
            display: flex;
        }
        &.u-hidden .projects__infopanel-contents {
            display: none;
        }
    }
    &__projectinfo {

        &-contents {
            position: relative;
            height: 95%; width: 90%;
            padding: 1rem 2.5rem;
            background-color: rgba($color-text-headline, .8);
            color: $color-background-accent;
            border-radius: 6px;
            @include flex-column;
        }
        &.u-hidden .projects__projectinfo-contents {
            display: none;
        }
        &-close {
            position: absolute;
            top: -1rem; right: 1.5rem;
            background-color: $color-background-accent;
            color: $color-brand;
            font-size: 2rem;
            border: 2px solid $color-brand;
            padding: 1rem;
            border-radius: 0 0 10px 10px;
            @include shadow;

            &:hover {
                color: $color-highlight;
            }
        }
        &-container {
            @include flex-row;
        }
        &-quicksumm {
            @include flex-column;
            flex: 3;
            align-items: center;
            justify-content: space-between;
        }
        &-blurb {
            flex: 7;
            padding-right: 2rem;
        }
        &-image {
            width: 100%;
        }
        &-ghlink, &-livelink {
            width: 55%;
        }
        &-ghlink {
            margin-top: auto;
        }
    }
}
.projects__infopanel, .projects__projectinfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%; height: 90%;
    padding: 0;
    border: 2px solid $color-brand;
    border-left: none;
    border-radius: 0 6px 6px 0;
    background-color: $color-background-accent;    
    justify-content: center;
    align-items: center;
}
.u-hidden {
    width: 0;
    flex: none;
    border: none;
}