.projects {
    @include flex-column;
    position: relative;
    align-items: center;
    margin-bottom: -26rem;
    padding-bottom: 10rem;
    @include respond(highres){
        margin-bottom: -29rem;
    }
    @include respond(mega){
        margin-bottom: -32rem;
    }
 
    &__buttonlink {
        display: flex;
        text-decoration: none;
        &--ghlink {
            margin-top: auto;
        }
    }
    &__card {
        @include flex-column;
        align-items: center;
        background: $color-background-accent;
        padding: 4rem;
        border-radius: 6px;
        margin: 5rem 2rem;
        @include shadow;
        text-decoration: none;
        z-index: 3; 
        transition: transform .3s ease;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.1);
        }
        &-projectName {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
    &__cardContainer {
        @include flex-row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
    &__headline {   
        background-color: $color-background-accent;
        padding: 2rem;
        border-radius: 6px;
        margin-bottom: 0;
    }
    &__headlineTab {
        margin-top: -4.5rem;
        border-radius: 6px;
        padding: 1rem;
        @include shadow;
        z-index: 3;
        background: linear-gradient(to bottom, $color-brand 0%,$color-brand 50%,$color-background-accent 51%,$color-background-accent 100%);
    }
    &__info {
        background: $color-background-accent;
        width: 60%;
        padding: 4rem;
        border-radius: 6px;
        @include shadow;
        font-size: 1.8rem;
        line-height: 2.4rem;
        z-index: 3; 
        @include respond(tablet){
            width: 80%;
        }

        &-blurb {
            margin: 1rem 0;
        }
        &-contents {
            padding: 1rem 2.5rem;
        }
        &-instructions {
            font-weight: 600;
        }
        &-list {
            padding: 0 3rem;
            @include respond(lowres){
                padding: 0 1rem;
            }
        }
        &-listitem:not(:last-of-type) {
            margin-bottom: .75rem;
        }
        &-projectName {
            color: $color-text-headline;
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        &-ghbutton {
            margin: 3rem auto 0 auto;

            @include respond(lowres){
                margin: 1rem auto 0 auto;
            }
        }
    }
    &__projectImage {
        width: 17.5rem;
        border-radius: 6px;
    }
    &__techItem {
        color: $color-text;
    }
    &__popup {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 50;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;

        &:target {
            opacity: 1;
            visibility: visible; }
        &-content {
            display: flex;
            width: 60%;
            background-color: $color-brand;
            color: $color-background-accent;
            border-radius: 6px;
            @include respond(tablet){
                width: 80%;
            }
        }
        &-left {
            @include flex-column;
            align-items: center;
            width: 30%;
            background: url(/images/resourcedBG.jpg) no-repeat;
            background-size: cover;
            &--two {
                background: url(/images/barmanBg.jpg) no-repeat;
                background-size: cover;
            }
            &--three {
                background: url(/images/citrouilleBg.jpg) no-repeat;
                background-size: cover;
            }
            &--four {
                background: url(/images/realtorBg.jpg) no-repeat;
                background-size: cover;
            }
        }
        &-right {
            width: 70%;
            padding: 3rem 4rem;
            position: relative;
            overflow: hidden;
        }
        &-list {
            @include flex-row;
            justify-content: space-evenly;
            background-color: white;
            border-radius: 6px;
            padding: .5rem;
            @include respond(tablet){
                font-size: 1.5rem;
                margin: 0 -2.5rem;
            }
        }
        &-image {
            @include shadow;
            margin: -3rem 0 0 -6rem;
            border-radius: 6px;
            @include respond(tablet){
                width: 20rem;
            }
            @include respond(tinyphone){
                margin: -3rem 0 0 -2rem;
            }
        }
        &-title {color: $color-background-accent;}
        &-blurb {
            line-height: 3rem;
            font-size: 2rem;
            @include respond(phone){
                line-height: 2rem;
                font-size: 1.5rem;
            } 
        }
        &-paragraph {margin: 2rem 0;}
        &-close:link, &-close:visited {
            color: $color-text-headline;
            background: white;
            padding: 2rem 3rem;
            border-radius: 0 0 0 50%;
            position: absolute;
            top: -1.5rem;
            right: -1.5rem;
            font-size: 5rem;
            text-decoration: none;
            display: inline-block; 
            @include respond(tablet){
                padding: 1rem 1rem;
                right: -1rem;
            }
        }
        &-close:hover {color: $color-highlight;}
    }
}