* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;}
html, body {
    width: 100%;
    background-color: rgb(220, 220, 220);
    font-family: sans-serif;
    color: black;
}
h1, h2, h3, h4 {
    color: black;
    font-family: Tangerine, cursive;
    font-weight: 700;
    margin: 0;
}
h1 {
    position: relative;
    font-size: 200px;
    text-align: center;
    text-shadow: 0px 2px 20px white;
    top: 100px;
    padding: 50px 0px 0px 0px;
    background-color: rgba(255,255,255,0.2);
}
h2 {font-size: 40px;}
h3 {
    font-size: 34px;
    border-bottom: double black;
    margin: 15px auto;
}
h4 {
    font-size: 28px;
    margin-top: 10px;
}

ul {-webkit-padding-start: 0;padding-inline-start: 0;}
li {
    list-style: none;
}
header {
    position: relative;
    width: 100%;
    height: 770px;
    background-color: rgb(220, 220, 220);
    background-image: url(images/restaurant.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: 100vw 100vh;
}
/*nav begin */
nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    background-color: rgb(98, 86, 48);
    background-image: url(images/bronze.jpg);
    background-repeat: repeat;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
            box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 2;
}
    .fixed-nav nav {
        position: fixed;
        -webkit-box-shadow: 0 5px rgba(0,0,0,0.1);
                box-shadow: 0 5px rgba(0,0,0,0.1);
        top: 0;
    }
    nav ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin: 0;
		padding: 0;
        list-style: none;
        font-family: Tangerine, script;
        line-height: 80px;
	}
	nav li {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
		margin-left: 30px;
        margin-bottom: 0;
        text-align: center;
	}
	nav a {
        position: relative;
        color: black;
		text-decoration: none;
		font-size: 40px;
		opacity: 1;
		-webkit-transition: opacity 150ms ease-in-out;
		transition: opacity 150ms ease-in-out;
	}
		nav a:hover {
			color: #DCD4BA;
		}
            nav a:hover::before {-webkit-transform: scale(1,1);transform: scale(1,1);}
/*end nav */
.bounds {
    width: 100%;
    min-height: 300px;
    background-color: rgb(98, 86, 48);
    background-image: url(images/bronze.jpg);
    background-repeat: repeat;
}
footer, .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
}
.food, .history {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
}
.history {border-right: 1px double rgba(0,0,0,0.6);}
/*image slide-ins */
.slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.slide img {
    display: inline-block;
    vertical-align: middle;
}
.slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    padding: 20px;
    color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.slide:hover .slide-content {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
}
.slide-right {
    float: right;
    margin: 0px 0px 20px 20px;
}
.slide-right .slide-content {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
}
.slide-left {
    float: left;
    margin: 0px 20px 20px 0px;
}
.slide-left .slide-content {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
}
/*end slide-ins */

/*menu */
.menu {
    width: 100%;
    min-height: 500px;
    border-top: 1px solid rgba(0,0,0,0.8);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 50px 0px;
}
.maincontainer{ 
    position: relative; 
    margin: auto;
    width: 500px; 
    height: 650px; 
    background: none; 
    text-align: center;
    
} 
    .thecard { 
        position: relative; 
        width: 100%; 
        height: 100%; 
        border-radius: 10px; 
        -webkit-transform-style: preserve-3d; 
                transform-style: preserve-3d; 
        -webkit-transition: all 1s ease; 
        transition: all 1s ease; 
    } 
    #flip1, #flip2 {
        position: absolute;
        right: 20px;
        border: none;
        background: transparent;
    }
    .thefront, .theback {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 20px;
        -webkit-box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.8);
                box-shadow: 10px 10px 14px 4px rgba(0,0,0,0.8);
    }
    .flip { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); } 
    .thefront { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        border-radius: 10px; 
        -webkit-backface-visibility: hidden; 
                backface-visibility: hidden; 
        overflow: hidden; 
        background: url(images/menu.jpg); 
        color: #000; 
    } 
    .theback { 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; 
        border-radius: 10px; 
        -webkit-backface-visibility: hidden; 
                backface-visibility: hidden; 
        overflow: hidden; 
        background: url(images/menu.jpg);  
        color: #333; 
        text-align: center; 
        -webkit-transform: rotateY(180deg); 
                transform: rotateY(180deg); 
    }

/* parallax bg */
.parallax {
    background-image: url(images/soup.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-clip: content-box;
    background-size: 100vw 100vh;
}
.parallax-inner {
    height: 100vh;
}

/*reservations form */
.resCushion {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    margin: auto;
    text-align: center;
}
form {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
input {
    display: block;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    border: none;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    height: 25px;
    padding: 0 5px;
    color: gray;
    outline: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 25px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.5), 0 1px rgba(255, 255, 255, 0.08);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.5), 0 1px rgba(255, 255, 255, 0.08);
}
form button {
    min-width: 100px;
    height: 30px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    line-height: 1.5;
    color: gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 25px;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    margin: 16px auto;
    grid-row: span 1;
    grid-column: span 2;
}
    button:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: black;
    }
i {
    padding: 0px 10px;
}
form span {
    color: rgb(139, 35, 35);
    font-size: 12px;
}
#formErr {
    grid-row: span 1;
    grid-column: span 2;
}

/*footer */
footer {
    border-top: 2px solid rgba(0, 0, 0, .5);
    background-image: url(images/bronze.jpg);
    background-repeat: repeat;
}
.separator, .addressBox, .hoursBox, .history, .food {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.addressBox, .hoursBox {
    margin: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
.addressBox a {color: rgba(0, 0, 0, 0.6);}
.separator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-style: none double none double;
    border-color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.2);
}
.diamond {
    background-color: rgba(0, 0, 0, 0.6);
    width: 20px;
    height: 20px;
    margin: 20px auto;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
td {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
}
tr td:nth-of-type(2){
    max-width: 12px;
    text-align: center;
}
tr td:nth-of-type(3){
    text-align: left;
}


@media screen and (max-width: 768px) {
    header {
        height: 80vh;
        background-size: cover;}
    h1 {font-size: 100px;}
    nav li {margin-left: 10px;}
    nav a {font-size: 30px;}
    footer, .about {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
    .history {border-bottom: 1px double rgba(0,0,0,0.6);}
    .slide-right, .slide-left {float: top;}
    .maincontainer {
        width: auto;
        margin: 10px;
    }
    .thecard {font-size: 12px;}
    .parallax {background-size: cover;}
    .resCushion {width: 90%;}
    .addressBox, .hoursBox {margin: 0;}
    .addressBox {border-bottom: 1px double rgba(0,0,0,0.6);}
    .separator {display: none;}
    
}