h1 {
  font-family: "Red Rose", sans-serif;
  color: #f7f5f7;
  font-size: 3.6rem;
  font-weight: 400;
}

h2 {
  font-family: "Red Rose", sans-serif;
  color: #f7f5f7;
  font-size: 1.8rem;
  font-weight: 400;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  color: #0054d3;
  background-color: #5CCAFF;
  position: relative;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

.Roller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.roller_button {
  background-color: #298726;
  color: #f7f5f7;
  font-size: 1.8rem;
  border: 3px solid #0054d3;
  border-radius: 3rem;
  font-size: 2rem;
  padding: .75rem 2.5rem;
  margin: 1.5rem;
}

.roller_button:hover {
  background-color: #0054d3;
}

.roller_funds {
  background-color: #0054d3;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 84, 211, 0.65), 0 0 0 0.5rem rgba(0, 84, 211, 0.4), 0 0 0 0.75rem rgba(0, 84, 211, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(0, 84, 211, 0.65), 0 0 0 0.5rem rgba(0, 84, 211, 0.4), 0 0 0 0.75rem rgba(0, 84, 211, 0.25);
  margin-bottom: 3rem;
}

.roller_simList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(92, 202, 255, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #5CCAFF;
  padding: 4rem;
  border: 1px solid #f7f5f7;
}

.options__blurb {
  max-width: 70%;
}

.options__button {
  width: 3rem;
  height: 3rem;
  margin: .5rem;
  background: transparent;
  border: none;
  position: relative;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.options__button::before, .options__button--pressed::before {
  position: absolute;
  top: 1rem;
  right: -.5rem;
  content: "";
  background-color: #0054d3;
  height: .5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
}

.options__button::before {
  width: 0;
}

.options__button:hover::before {
  width: 4rem;
}

.options__button--pressed::before {
  width: 4rem;
}

.options__button:focus {
  outline: none;
}

.options__packList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.options__pack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.options__pack__name {
  font-size: 1rem;
  color: #f7f5f7;
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.options__pack__icon {
  width: 3rem;
}

.options__pack__icon:hover {
  opacity: .8;
}

.options__pack__icon--disabled {
  opacity: .4;
}

.options__button:hover + .options__pack__name {
  opacity: 1;
}

.simcard {
  background-color: rgba(247, 245, 247, 0.9);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23rem;
  min-height: 30rem;
  font-family: Roboto, sans-serif;
  -webkit-box-shadow: 0 0 0 0.35rem rgba(247, 245, 247, 0.65), 0 0 0 0.75rem rgba(247, 245, 247, 0.4), 0 0 0 1.5rem rgba(247, 245, 247, 0.25);
          box-shadow: 0 0 0 0.35rem rgba(247, 245, 247, 0.65), 0 0 0 0.75rem rgba(247, 245, 247, 0.4), 0 0 0 1.5rem rgba(247, 245, 247, 0.25);
  margin: 2rem;
}

.simcard_traits_list {
  margin-left: 4rem;
  list-style-type: none;
}

.simcard_label {
  color: #298726;
  font-size: 1.4rem;
  font-weight: 700;
}

.simcard_data {
  color: #0054d3;
  font-weight: 400;
  margin: .25rem 0 .75rem 0;
}

.app__button {
  z-index: 2;
  width: 3rem;
  height: 3rem;
  margin: .5rem;
  background: transparent;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.app__button__icon {
  fill: #f7f5f7;
  width: 3rem;
  height: 3rem;
}

.app__button:hover {
  opacity: .5;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
/*# sourceMappingURL=App.css.map */