*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {font-size: 62.5%;}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: $color-text;
    background-color: $color-background;
    position: relative;
    height: 100vh;
}

.App, .content, #root {
    height: 100%;
}
.App {
    @include flex-column;
}
.content {
    position: relative;
}
