h1 {
  font-family: "Love Ya Like A Sister", sans-serif;
  font-size: 3.6rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #2C3138;
  background-color: #A2DDE4;
  position: relative;
  height: 100vh;
}

.App, .content, #root {
  height: 100%;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  position: relative;
}

.tasks {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #A2DDE4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tasks__background {
  position: absolute;
  fill: #475B73;
  height: 160%;
  width: 160%;
  top: -30%;
}

.tasks__container {
  width: 85%;
  height: 100%;
  overflow: scroll;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #F7F5F7;
  padding: 3rem;
}

.tasks__deleteAll {
  border: none;
  background: #475B73;
  color: #F7F5F7;
  width: 85%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.4rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tasks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.tasks__item--completed {
  text-decoration: line-through;
  opacity: .7;
}

.tasks__item:hover {
  background: rgba(198, 248, 231, 0.5);
}

.tasks__item--delete {
  border: none;
  background: transparent;
}

.tasks__item--date {
  margin-left: auto;
  font-size: 1rem;
}

.tasks__button {
  background: transparent;
  border: none;
}

.tasks__button-icon {
  height: 3rem;
  width: 2.6rem;
  fill: #2C3138;
  margin: 0 .5rem;
}

.tasks__button-icon--down {
  margin-right: 0;
  height: 3rem;
  width: 1.2rem;
}

.tasks__button-icon--trash {
  fill: #F7F5F7;
  height: 2.4rem;
  width: 2.4rem;
}

.tasks__button-icon--miniTrash {
  height: 1.6rem;
  width: 1.6rem;
}

.tasks__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tasks__form-container {
  background: #C6F8E7;
  padding: 1rem;
  width: 100%;
  z-index: 2;
}

.tasks__form-container--add {
  z-index: 3;
}

.tasks__form-datetext {
  text-align: center;
  font-size: 1rem;
  margin-top: .5rem;
  height: 1.5rem;
}

.tasks__form-input {
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 0 1rem;
  background: #F7F5F7;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tasks__form-input:focus {
  outline: none;
}

.tasks__layout {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.2rem 0;
  z-index: 1;
}

.tasks__list {
  list-style: none;
}

.footer {
  width: 100%;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer__current {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  width: 3rem;
  height: 3rem;
  padding: 2px;
  fill: #2C3138;
}

.footer__icon--calendar {
  width: 4.1rem;
  height: 4.1rem;
}

.footer__icon--tasks, .footer__icon--list {
  width: 1.9rem;
  height: 1.9rem;
}

.footer__icon--active {
  fill: #F7F5F7;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__nav {
  border: 5px #2C3138 solid;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__nav--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__nav--left, .footer__nav--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem;
}

.header__icon {
  width: 2.8rem;
  height: 2.8rem;
  fill: #2C3138;
  margin-left: 4rem;
}

.header__settings {
  background: transparent;
  border: none;
}

.header__username {
  font-size: 2.4rem;
}

.datepicker__button {
  background: transparent;
  border: none;
}

.datepicker__button--save {
  margin-left: auto;
}

.datepicker__container {
  width: 60%;
  height: 30%;
  background-color: #F7F5F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.datepicker__chosen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 1rem;
}

.datepicker__chosen-dateDisplay {
  font-family: "Love Ya Like A Sister", sans-serif;
  font-size: 2.6rem;
}

.datepicker__days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.datepicker__day {
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.6rem;
  border-radius: 50%;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.datepicker__day:hover {
  background-color: rgba(71, 91, 115, 0.8);
  color: #F7F5F7;
}

.datepicker__month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem;
  border-top: 1px solid #475B73;
  border-bottom: 1px solid #475B73;
  background-color: #C6F8E7;
}

.datepicker, .options {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(44, 49, 56, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 20;
}

.options__container {
  width: 80%;
  background-color: #F7F5F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__close {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
  font-size: 2rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  outline: none;
}

.options__close:hover {
  color: #A2DDE4;
}

.options__welcome {
  color: rgba(44, 49, 56, 0.7);
}

.options p {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.options a {
  color: #475B73;
}
/*# sourceMappingURL=App.css.map */