*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
// font size equiv to 10px, but allows for accessibility devices to change font size
html {
    font-size: 62.5%;
    @include respond(phone){
        font-size: 40%;
    }
}
body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: $color-text;
    background: $color-background;
    position: relative;
}

// background image
.bgpattern {
    position: fixed;
    right: 0; top: 0;
    width: 245px; height: 100%;
    background:
        linear-gradient(-33deg, rgba(255,255,255,0.001) 30.5%, $color-background 31.5%, $color-background 32.5%, rgba(255,255,255,0.001) 33.5%),
        linear-gradient(-33deg, rgba(255,255,255,0.001) 30.5%, $color-background 31.5%, $color-background 32.5%, rgba(255,255,255,0.001) 33.5%) 0 8px,
        linear-gradient(33deg, rgba(255,255,255,0.001) 30.5%, $color-background 31.5%, $color-background 32.5%, rgba(255,255,255,0.001) 33.5%),
        linear-gradient(33deg, rgba(255,255,255,0.001) 30.5%, $color-background 31.5%, $color-background 32.5%, rgba(255,255,255,0.001) 33.5%) 0 8px;
	background-size: 245px 90px;
    background-color: rgba($color-brand,.3);
    z-index: 1;
    @include respond(tablet){
        width: 122px;
    }
    @include respond(phone){
        width: 61px;
    }
}
.bgpattern_alt {
    background-color: rgba($color-brand,.3);
}
//end background image

.page_container {
    position: relative;
    right: 0; top: 0;
    width: 80%;
    margin: auto;
    z-index: 2;
    @include respond(phone){
        width: 95%;
    }
}
.horizontal-rule {
    width: 95%;
    height: .75rem;
    margin: auto;
    background-color: $color-text-headline;
    border-radius: 1rem;
    border: 1px solid $color-background-accent;
}