h1 {
    font-size: 5rem;
    letter-spacing: .5rem;
    color: $color-text-headline;
    font-weight: 600;
}
h2 {
    font-size: 3rem;
    letter-spacing: .5rem;
    color: $color-text-headline;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}
h3 {
    font-size: 1.75rem;
    color: $color-brand;
    margin: .5rem 0 0 0;
}
h4 {
    font-size: 1.5rem;
    color: $color-text-light;
}

ul {
    list-style: none;
}
li {
    &::before {
        content: "vvv"; //usually empty content works, for this usage the psuedo-element would not display, so I used transparent text as a workaround.
        background-color: $color_brand;
        mask-image: url(../images/SVG/circle-right.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-image: url(../images/SVG/circle-right.svg);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        font-size: 1rem;
        color: transparent;
        position: absolute;
        top: 15%;
        left: -2rem;
        @include respond(tinyphone){
            display: none;
        } 
    }
}
li {position: relative;}
button {
    background-color: $color-brand;
    @include double-border;
    color: $color-background-accent;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

    &:hover, &:focus {
        color: $color-highlight;
        transform: translateY(-2px);
        background-color: darken($color-brand, 5%);
        box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
    &:before, &:after{
        position: absolute;
        content: '';
        display: block;
        width: 140%;
        height: 100%;
        left: -20%;
        z-index: -1000;
        transition: all ease-in-out 0.5s;
        background-repeat: no-repeat;
      }
      &:before{
        display: none;
        top: -75%;
        background-image:  
          radial-gradient(circle, $color-brand 20%, transparent 20%),
            radial-gradient(circle,  transparent 20%, $color-brand 20%, transparent 30%),
            radial-gradient(circle, $color-brand 20%, transparent 20%), 
            radial-gradient(circle, $color-brand 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, $color-brand 15%, transparent 20%),
            radial-gradient(circle, $color-brand 20%, transparent 20%),
            radial-gradient(circle, $color-brand 20%, transparent 20%),
            radial-gradient(circle, $color-brand 20%, transparent 20%),
            radial-gradient(circle, $color-brand 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
      }
      &:after{
        display: none;
        bottom: -75%;
        background-image:  
            radial-gradient(circle, $color-brand 20%, transparent 20%), 
            radial-gradient(circle, $color-brand 20%, transparent 20%),
            radial-gradient(circle,  transparent 10%, $color-brand 15%, transparent 20%),
            radial-gradient(circle, $color-brand 20%, transparent 20%),
            radial-gradient(circle, $color-brand 20%, transparent 20%),
            radial-gradient(circle, $color-brand 20%, transparent 20%),
            radial-gradient(circle, $color-brand 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
      }
      &.animate{
        &:before{
          display: block;
          animation: topBubbles ease-in-out 0.75s forwards;
        }
        &:after{
          display: block;
          animation: bottomBubbles ease-in-out 0.75s forwards;
        }
    }
}

@keyframes topBubbles {
    0%{
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }
  
  @keyframes bottomBubbles {
    0%{
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
    }
  }