h1 {
    font-size: 5rem;
    letter-spacing: .5rem;
    color: $color-text-headline;
    font-weight: 600;
}
h2 {
    font-size: 3rem;
    letter-spacing: .5rem;
    color: $color-text-headline;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}
h3 {
    font-size: 1.75rem;
    color: $color-brand;
    margin: .5rem 0 0 0;
}
h4 {
    font-size: 1.5rem;
    color: $color-text-light;
}