h1 {
    font-size: 5rem;
    color: $color-text;
    font-weight: 400;
}//used
h2 {
    font-size: 3rem;
    letter-spacing: .5rem;
    color: $color-text-headline;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}
h3 {
    font-size: 1.75rem;
    color: $color-brand;
    margin: .5rem 0 0 0;
}
h4 {
    font-size: 1.5rem;
    color: $color-text-light;
}

ul {
    list-style: none;
}
li {
    &::before {
        content: "vvv"; //usually empty content works, for this usage the psuedo-element would not display, so I used transparent text as a workaround.
        background-color: $color_brand;
        mask-image: url(../images/SVG/circle-right.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-image: url(../images/SVG/circle-right.svg);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        font-size: 1rem;
        color: transparent;
        position: absolute;
        top: 15%;
        left: -2rem;
        @include respond(tinyphone){
            display: none;
        } 
    }
}
li {position: relative;}
