*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #c8e2ef;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.page-container {
  width: 36rem;
  margin: auto;
  background-color: #c8e2ef;
}

h2 {
  color: #3b3a39;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: .5rem auto;
  background-color: #fec97c;
  width: 100%;
  text-align: center;
}

h3 {
  color: #c78947;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

.section__expanded {
  position: fixed;
  width: 36rem;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.budget__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.budget__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.budget__spent, .budget__available {
  text-align: center;
  padding: .5rem;
}

.budget__available {
  margin: 0 auto;
}

.budget__amount {
  text-align: center;
}

.calc__container {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calc__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.calc__cell, .calc__tip, .calc__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calc__cell, .calc__window {
  border: 1px solid #a3c5d6;
}

.calc__cell {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.calc__cell:hover {
  background-color: #fec97c;
}

.calc__num {
  background-color: #c8e2ef;
}

.calc__window {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.calc__op {
  background-color: #e4ecf0;
}

.calc__tip {
  background-color: #a3c5d6;
  font-size: 1.5rem;
  border: 1px solid #e4ecf0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.calc__tip:hover {
  background-color: #e4ecf0;
}

.flip__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flip__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.flip__icon-box > * {
  margin: 0 .25rem;
}

.flip__icon {
  width: 3rem;
  height: 3rem;
  fill: #3b3a39;
  border-radius: 6px;
}

.flip__icon--dice {
  width: 2.5rem;
  height: 2.5rem;
  padding: .5rem;
}

.flip__button {
  border: none;
  border-radius: 6px;
  background-color: #fdad58;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  outline: none;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.flip__button:hover {
  background-color: #c78947;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.nav__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fdad58), to(#fec97c));
  background-image: linear-gradient(to right bottom, #fdad58, #fec97c);
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__title {
  margin-right: auto;
}

.nav__container > * {
  padding: 0 1rem;
}

.nav__user-greeting {
  font-size: 1.5rem;
}

.nav__title {
  font-size: 2rem;
  font-family: Barriecito, sans-serif;
}

.nav__icon {
  width: 3rem;
  height: 3rem;
  fill: #3b3a39;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.nav__icon:hover {
  fill: #b0adaa;
}

.news__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f1b1;
}

.news__story:not(:last-child) {
  margin-bottom: 1.5rem;
}

.news__title {
  margin: 1rem 0;
  background-color: transparent;
}

.news__all-stories {
  background-color: white;
  width: 100%;
  padding: 1.5rem;
  border-top: 1px solid #c5bf7a;
  border-bottom: 1px solid #c5bf7a;
}

.news__link {
  color: #c78947;
}

.news__link:hover, .news__link:visited {
  background-color: #fec97c;
}

.recipe__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.recipe__image {
  width: 8rem;
  max-height: 8rem;
  margin: .5rem;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

.recipe__headline {
  font-size: 1.2rem;
}

.tasks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks__bgicon {
  fill: rgba(176, 173, 170, 0.4);
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: 1;
  width: 15rem;
  height: 15rem;
}

.tasks__bgicon--full {
  bottom: 1rem;
  left: 0;
  width: 35rem;
  height: 35rem;
}

.tasks__list {
  list-style: circle;
}

.tasks__list-item {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  border-bottom: 1px solid #b0adaa;
}

.full-tasks__headline {
  font-size: 3rem;
}

.full-tasks__list {
  z-index: 20;
}

.full-tasks__list--completed {
  text-decoration: line-through;
  -webkit-text-decoration-color: #c78947;
          text-decoration-color: #c78947;
}

.full-tasks__list-item {
  font-size: 2rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: 1rem;
}

.full-tasks__list-item:hover {
  background-color: #f7f1b1;
}

.full-tasks__task-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5rem;
  border-bottom: 1px solid #b0adaa;
}

.full-tasks__icon {
  height: 1.25rem;
  width: 1.25rem;
  fill: #3b3a39;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.full-tasks__icon:hover {
  fill: white;
}

.full-tasks__new {
  font-size: 1.5rem;
}

.full-tasks__btn {
  border: none;
  border-radius: 6px;
  background-color: #fdad58;
  text-align: center;
  color: #3b3a39;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  padding: 4px 8px;
  margin: 0px 4px;
  outline: none;
}

.full-tasks__btn:hover {
  background-color: #c78947;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.full-tasks__btn--list-item {
  padding: 2px 2px 0px 2px;
  margin: 0px 2px;
  line-height: 1.25rem;
}

.full-tasks__taskEntry {
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 2px;
  height: 2rem;
  margin: 0px 0px 1.5rem .75rem;
}

.full-tasks__taskEntry:focus {
  outline: none;
  border-bottom: 2px solid #fdad58;
}

.timezone__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timezone__title {
  font-weight: 300;
  margin: .5rem auto;
  background-color: #fec97c;
  width: 100%;
  text-align: center;
}

.timezone__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.timezone__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timezone__local, .timezone__other {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

.timezone__timezone, .timezone__local, .timezone__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.timezone__bgicon {
  fill: rgba(176, 173, 170, 0.4);
  position: absolute;
  bottom: -5rem;
  left: -4rem;
  z-index: 1;
  width: 15rem;
  height: 15rem;
}

.timezone__timezone {
  font-size: 1.2rem;
  font-style: "Roboto Condensed", sans-serif;
  color: #fdad58;
}

.timezone__btnIcon {
  height: 1rem;
  width: 1rem;
}

.weather__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#c8e2ef), to(#a3c5d6));
  background-image: linear-gradient(to right bottom, #c8e2ef, #a3c5d6);
}

.weather__location {
  margin-top: -.5rem;
}

.weather__title {
  margin: 1rem 0;
  background-color: transparent;
}

.weather__forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.weather__today, .weather__tomorrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather__today {
  margin: .5rem 0;
  border-top: 1px solid #3b3a39;
  border-bottom: 1px solid #3b3a39;
  background-color: rgba(255, 255, 255, 0.253);
  padding: 1rem 0;
}

.weather__tomorrow .weather__icon {
  width: 2rem;
  height: 2rem;
}

.weather__icon {
  width: 4rem;
  height: 4rem;
  fill: #3b3a39;
}

.weather__icon--map {
  width: 1rem;
  height: 1rem;
  fill: #3b3a39;
}

.weather__col1, .weather__col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather__today .weather__col2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather__degree {
  width: 2rem;
  height: 2rem;
  fill: #3b3a39;
}

.weather__therm {
  width: 2rem;
  height: 2rem;
  fill: #3b3a39;
}

.weather__tomorrow .weather__therm {
  width: 1rem;
  height: 1rem;
}

.weather__city {
  color: #3b3a39;
}

.weather__high, .weather__low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.word__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
}

.word__definition {
  margin-top: .5rem;
}

.section-nav {
  width: 100%;
  height: 5rem;
}

.main-content {
  display: -ms-grid;
  display: grid;
  width: 100%;
  min-height: 75rem;
      grid-template-areas: "news news news news weather weather" "news news news news weather weather" "news news news news budget budget" "news news news news tasks tasks" "timezone timezone currency currency tasks tasks" "timezone timezone currency currency tasks tasks" "recipe recipe word word word word" "recipe recipe calculator calculator calculator calculator" "flip flip calculator calculator calculator calculator";
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 2px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.app {
  border-radius: 6px;
  background-color: white;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-news {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: news;
}

.section-weather {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: weather;
}

.section-word {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: word;
  position: relative;
}

.section-tasks {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: tasks;
  background-color: #e4ecf0;
}

.section-notes {
  grid-area: notes;
  position: relative;
}

.section-recipe {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: recipe;
  position: relative;
}

.section-flip {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: flip;
}

.section-budget {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: budget;
  position: relative;
}

.section-timezone {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: timezone;
  position: relative;
  overflow: hidden;
}

.section-currency {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: currency;
}

.section-calculator {
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: calculator;
}

.expandIcon, .condenseIcon {
  position: absolute;
  fill: #3b3a39;
}

.expandIcon:hover, .condenseIcon:hover {
  fill: #b0adaa;
}

.expandIcon {
  height: 1rem;
  width: 1rem;
  top: 8px;
  right: 2px;
}

.condenseIcon {
  height: 2rem;
  width: 2rem;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 20;
}

.fullscreen {
  width: 100%;
  min-height: 75rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background-color: white;
  z-index: 10;
}

.noscreen {
  display: none;
}
/*# sourceMappingURL=main.css.map */