*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: $color-text;
    background: $color-white;
    position: relative;
}