.footer {
    display: flex;
    flex-direction: column;
    height: 18rem; width: 100%;
    position: relative;
    overflow: hidden;
    color: $color-white;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &__swoosh {
        position: absolute;
        bottom: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url(/images/footerSwooshS.svg);
        background-repeat: no-repeat;

        @include respond(ipadMini){
            background-image: url(/images/footerSwooshM.svg);
        }
        @include respond(smDesktop){
            background-image: url(/images/footerSwooshMM.svg);
        }
        @include respond(desktop){
            background-image: url(/images/footerSwooshL.svg);
        }
        @include respond(wideScreen){
            background-image: url(/images/footerSwooshXL.svg);
        }
    }
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        z-index: 2;
    }
    &__tagline {
        z-index: 2;
        margin: .5rem 0 -1.5rem 0;
        @include respond(smDesktop){
            font-size: 1.8rem;
        }
    }
    &__address--street, &__contact {
        font-size: 1.1rem;
        @include respond(ipadMini){
            font-size: 1.6rem;
        }
        @include respond(smDesktop){
            font-size: 1.8rem;
        }
    }
    &__logo {
        position: relative;
        
        &--top, &--bottom {
            font-size: 2.4rem;
            @include respond(smDesktop){
                font-size: 3rem;
            }
        }
        &--top {
            position: relative;
            top: 2rem;
            left: -1rem;
            font-family: "Zeyada", sans-serif;
            color: $color-text-light;
            z-index: -1;
        }
        &--bottom {
            z-index: 4;
        }
    }
    &__icon {
        width: 2rem; height: 2rem;
        @include respond(smDesktop){
            width: 3rem; height: 3rem;
        }
    }
}
