.hero {
    display: flex;
    flex-direction: column;

    @include respond(desktop){
        flex-direction: row-reverse;
    }

    &__branding {
        display: flex;
        height: 60vh; width: 100%;
        position: relative;
        background-image: url(/images/flower.jpg);
        background-position: 75% 0%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

        @include respond(desktop){
            height: 100vh;
            flex: 60%;
        }
        
    }
    &__content {
        display: flex;
        flex-direction: column;
        height: 40vh; width: 100%;
        @include respond(desktop){
            height: 100vh;
            flex: 40%;
        }
    }
    &__companyMission {
        flex: 1;
        background-color: $color-brand;
        color: $color-white;
        text-align: justify;
        padding: 4rem 3rem;

        &--emphasis {
            color: $color-highlight;
        }
        @include respond(ipadMini){
            font-size: 2.25rem;
            padding: 4rem 8rem;
        }
        @include respond(smDesktop){
            font-size: 3rem;
            padding: 4rem 6rem;
        }
        @include respond(desktop){
            padding: 5rem 9.5rem;
        }
    }
    &__purchase {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @include respond(desktop){
            background-color: $color-brand;
        }
    }
    &__button {
        position: relative;
        font-weight: 600;
        font-size: 1.8rem;
        text-align: center;
        background-color: $color-highlight;
        border-radius: 8px;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 1rem;
        overflow: hidden;
        

        @include respond(smDesktop){
            font-size: 2.5rem;
            padding: 2rem;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%; height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to top right, transparent 0%, $color-white 100%);
            transform: translate(-100%, 0);
            transition: all .8s ease;
        }

        &:hover::after {
            transform: translate(0, 0);
        }
    }
    &__logo {
        position: absolute;
        bottom: 4rem;
        right: 3rem;
        font-size: 6.4rem;
        z-index: 4;
        
        @include respond(smDesktop){
            bottom: 8rem;
            right: 6rem;
        }

        &--top {
            position: relative;
            top: 5rem;
            left: -1rem;
            font-family: "Zeyada", sans-serif;
            color: $color-text-light;
            z-index: -1;
            @include respond(ipadMini){
                top: 6.5rem;
            }
            @include respond(smDesktop){
                top: 8rem;
            }
        }
        &--bottom {
            z-index: 4;
        }
    }
    &__swoosh {
        background: url(/images/yellowSwoosh1.svg) no-repeat;
        background-size: cover;
        width: 100%; height: 100%;
        position: absolute;
        bottom: 0; right: 0;
        @include respond(iphoneX){
            bottom: -1.4rem;
        }
        @include respond(ipadMini){
            background: url(/images/yellowSwoosh1m.svg) no-repeat;
            bottom: -8rem;
        }
        @include respond(smDesktop){
            background-size: cover;
            bottom: -2rem;
        }
        @include respond(desktop){
            background: url(/images/yellowSwoosh1l.svg) no-repeat;
            width: 105%;
            background-size: cover;
            bottom: 0;
        }
        @include respond(ipadMini){
            background: url(/images/yellowSwoosh1xl.svg) no-repeat;
            width: 100%;
            background-size: cover;
        }
    }
    &__motto {
        width: 26.5rem;
        margin: 6rem 0 0 3rem;
        font-size: 2.4rem;
        z-index: 2;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include respond(ipadMini){
            font-weight: 600;
            width: 50rem;
            font-size: 3rem;
        }
        @include respond(smDesktop){
            font-size: 4.8rem;
            width: 60rem;
            margin: 10rem 0 0 8rem;
        }
    }
}