.navigation {
    display: flex;
    align-content: center;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 100;
    background-color: $color-white;
    box-shadow: -8px 0px 10px rgba(0, 0, 0, 0.45);

    &__inner {
        display: flex;
        flex-direction: column;
        background: transparent;
        position: fixed;
        top: 0;
        right: 0;
        padding: 1rem;
        width: 18rem;
        clip-path: circle(2.5rem at 17rem 3rem);
        transition: all .8s ease-out;
        margin-left: auto;
        cursor: pointer;
        @include respond(smDesktop){clip-path: circle(8rem at 17rem 3rem);}

        &:hover {
            clip-path: none;
            width: 18rem;
            height: 60vh;
            background-color: $color-white;
            box-shadow: -8px 0px 10px rgba(0, 0, 0, 0.45), -8px 0px 10px 2000px rgba(0, 0, 0, 0.25);
        }
    }
    &__icon {
        width: 4rem;
        height: 4rem;
        fill: $color-text;
        z-index: 101;
        @include respond(smDesktop){
            width: 6rem;
            height: 6rem;
        }
    }
    &__button {
        margin-left: auto;
    }
    &__item {
        margin: 3rem 0;
        display: block;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: -.5rem; left: -4rem;
            width: 5rem; height: 5rem;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%);
            background-color: $color-highlight;
            z-index: -1;
        }
    }
    &__link {
        position: relative;
        text-decoration: none;
        color: $color-text;
        font-size: 2.4rem;
        font-weight: 600;
        &:hover {
            color: $color-text-light;
        }
    }
    &__list {
        list-style: none;
        margin-left: .5rem;
    }
    &__logo {
        position: relative;
        margin: -1.5rem 0 1rem 2rem;
        display: none;

        &--top, &--bottom {
            font-size: 2.4rem;
            @include respond(smDesktop){font-size: 4.8rem;}
        }
        &--top {
            position: relative;
            top: 2rem;
            left: -1rem;
            font-family: "Zeyada", sans-serif;
            color: $color-text-light;
            z-index: -1;
        }
        &--bottom {
            position: relative;
            z-index: 4;
            @include respond(smDesktop){top: -2rem;}
        }
        &.shown {
            display: block;
        }
    }
}
