.navigation {
    position: fixed;
    top: 0; left: 0;
    width: 100%;

    &__checkbox {display: none;}
    &__button {
        height: 6rem; width: 6rem;
        position: fixed;
        right: 2rem; top: 2rem;
        z-index: 101;
        text-align: center;
        cursor: pointer;    
    }
    &__background {
        height: 2rem; width: 2rem;
        position: fixed;
        top: 3rem; right: 3rem;
        z-index: 99;
        /*for animation*/
        -webkit-transition: -webkit-transform .8s cubic-bezier(.86, 0, .05, 1.18);
        transition: -webkit-transform .8s cubic-bezier(.86, 0, .05, 1.18);
        transition: transform .8s cubic-bezier(.86, 0, .05, 1.18);
        transition: transform .8s cubic-bezier(.86, 0, .05, 1.18), -webkit-transform .8s cubic-bezier(.86, 0, .05, 1.18);
    }
    &__nav {
        height: 100vh;
        position: fixed;
        top: 0; left: 0;
        z-index: 100;
        /*hide by default*/
        opacity: 0;
        width: 0;
        visibility: hidden;
        -webkit-transition: all .8s cubic-bezier(.86, 0, .05, 1.18);
        transition: all .8s cubic-bezier(.86, 0, .05, 1.18);
    }
    &__list {
        position: absolute;
        top: 50%; left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }
    &__item {margin: 1rem;}
    &__link {
        &:link, &:visited {
            display: inline-block;
            font-size: 5rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: black;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-transition: all 1s;
            transition: all 1s;
        }
        &:hover, &:active {
            color: white;
            -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
        }
    }
/*link background scale/link show to checkbox being checked (or rather label being clicked)*/
    &__checkbox:checked ~ .navigation__background {-webkit-transform: scale(90);transform: scale(90);}
    &__checkbox:checked ~ .navigation__nav {
        opacity: 1;
        width: 100%;
        visibility: visible;
    }
/*icon*/
    &__icon {
        position: relative;
        width: 4rem;
        height: 4rem;
        display: inline-block;
        fill: $color-text;
    }
}