.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    &__headline {
        @include respond(ipadMini){margin-top: 9rem;}
        @include respond(desktop){margin-top: 0;}
    }
    &__icon {
        fill: $color-text;
        height: 2.8rem; width: 2.6rem;
        position: absolute;
        @include respond(ipadMini){
            height: 4rem;
            width: 4rem;
        }
        
        &:hover {
            stroke: #F8F5F1;
        }
        &--one {
            top: 5rem;
            left: 6rem;
            @include respond(ipadMini){
                top: 7rem;
                left: 15rem;
            } 
            @include respond(smDesktop){
                top: 5rem;
                left: 25rem;
            } 
            @include respond(desktop){
                top: 1rem;
                left: 13rem;
            } 
            @include respond(lgDesktop){
                top: 2rem;
                left: 15rem;
            } 
            @include respond(wideScreen){
                top: 4rem;
                left: 18rem;
            } 
        }
        &--two {
            top: 22rem;
            left: 17rem;
            @include respond(ipadMini){
                top: 43rem;
                left: 36rem;
            } 
            @include respond(smDesktop){
                top: 52rem;
                left: 50rem;
            } 
            @include respond(desktop){
                top: 30rem;
                left: 30rem;
            } 
            @include respond(lgDesktop){
                top: 35rem;
                left: 35rem;
            } 
            @include respond(wideScreen){
                top: 39rem;
                left: 39rem;
            } 
        }
        &--three {
            bottom: 14rem;
            right: 10rem;
            @include respond(ipadMini){
                bottom: 25rem;
                right: 20rem;
            } 
            @include respond(smDesktop){
                bottom: 32rem;
                right: 25rem;
            } 
            @include respond(desktop){
                bottom: 20rem;
                left: 45rem;
            } 
            @include respond(lgDesktop){
                bottom: 22rem;
                left: 52rem;
            } 
            @include respond(wideScreen){
                bottom: 25rem;
                left: 55rem;
            } 
        }
        &--four {
            bottom: 10rem;
            right: 14rem;
            @include respond(ipadMini){
                bottom: 18rem;
                right: 31rem;
            } 
            @include respond(desktop){
                bottom: 14rem;
                left: 37rem;
            }
            @include respond(lgDesktop){
                bottom: 16rem;
                left: 43rem;
            } 
            @include respond(wideScreen){
                bottom: 16rem;
                left: 47rem;
            } 
        }
    }
    &__image {
        width: 100%;
        margin: 4rem 0 5rem -2rem;
        @include respond(smDesktop){
            margin: 0 0 5rem 0;
        } 
        @include respond(desktop){
            width: 50%;
        } 
    }
    &__image-container {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    &__instructions {
        background: url(/images/infoS.svg) no-repeat;
        height: 15.2rem;
        width: 20.35rem;
        position: absolute;
        top: 10rem; right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond(ipadMini){
            background: url(/images/infoL.svg) no-repeat;
            height: 26.3rem;
            width: 47rem;
            right: -10rem;
            top: 15rem;
        }
        &--text {
            padding: 0 3rem 2rem 7rem;
            color: $color-white;
            @include respond(ipadMini){
                font-size: 3rem;
                padding: 0 12rem 2rem 14rem;
            }
        }
        &--desktop {
            display: none;
            @include respond(smDesktop){
                display: inline;
            }
        }
        &--mobile {
            @include respond(smDesktop){
                display:  none;
            }
        }
    }
    &__display {
        width: 100%;
        position: relative;
    }
    &__features {
        font-size: 1.8rem;
        list-style-type: square;
        line-height: 3rem;
        padding-bottom: 3rem;
        @include respond(ipadMini){font-size: 2.8rem;}
        @include respond(smDesktop){
            font-size: 3.5rem;
            line-height: 4.5rem;
            margin-top: -10rem;
        }
        @include respond(desktop){
            left: -20rem;
            position: relative;
        }  
    }
    &__part {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $color-text-light;
        border-radius: 6px;
        background-color: rgba($color-text-light, 0.2);
        top: 65%;
        width: 40%;
        left: 5%;
        padding: 1.5rem;
        text-align: center;
        @include respond(ipadMini){width: 30%;}
        @include respond(smDesktop){
            width: 35%;
            padding: 2rem;
            top: 50%;
            left: 2%;
        }
        @include respond(desktop){
            top: 15%;
            left: 35%;
        }
        &:before {
            content: "";
            background: inherit; 
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
            filter: blur(10px);
            z-index: -1;
        }
        &.hidden {
            display: none;
        }
        &-blurb {
            @include respond(ipadMini){font-size: 2rem;}
            @include respond(smDesktop){font-size: 3.5rem;}
        }
        &-title {
            @include respond(ipadMini){font-size: 2.5rem;}
            @include respond(smDesktop){font-size: 4rem;}
        }
    }
    &__responsive {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(desktop){
            flex-direction: row;
            align-items: flex-end;
        }
    }
    &__swoosh {
        background: url(/images/S2SwooshS.svg) no-repeat;
        background-size: cover;
        width: 100%; height: 100%;
        position: absolute;
        bottom: 0; right: 0;
        z-index: -1;
        @include respond(desktop){
            background: url(/images/S2SwooshL.svg) no-repeat;
            background-size: cover;
        }
    }
}