.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;

    &__icon {
        fill: $color-text;
        height: 2.8rem; width: 2.6rem;
        position: absolute;
        &:hover {
            stroke: #F8F5F1;
        }
        &--one {
            top: 5rem;
            left: 6rem;
        }
        &--two {
            top: 22rem;
            left: 17rem;
        }
        &--three {
            bottom: 14rem;
            right: 10rem;
        }
        &--four {
            bottom: 10rem;
            right: 14rem;
        }
    }
    &__image {
        width: 100%;
        margin: 4rem 0 5rem -2rem;
    }
    &__image-container {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    &__instructions {
        background: url(/images/infoS.svg) no-repeat;
        height: 15.2rem;
        width: 20.35rem;
        position: absolute;
        top: 3rem; right: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &--text {
            padding: 0 3rem 2rem 7rem;
            color: $color-white;
        }
        &--desktop {
            display: none;
            @include respond(smDesktop){
                display: inline;
            }
        }
        &--mobile {
            @include respond(smDesktop){
                display:  none;
            }
        }
    }
    &__display {
        width: 100%;
        position: relative;
    }
    &__features {
        font-size: 1.8rem;
        list-style-type: square;
        line-height: 3rem;
    }
    &__part {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $color-text-light;
        border-radius: 6px;
        background-color: rgba($color-text-light, 0.2);
        top: 65%;
        width: 40%;
        left: 5%;
        padding: 1.5rem;
        text-align: center;

        &:before {
            content: "";
            background: inherit; 
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
            filter: blur(10px);
            z-index: -1;
        }
        &.hidden {
            display: none;
        }
    }
    &__swoosh {
        background: url(/images/S2SwooshS.svg) no-repeat;
        background-size: cover;
        width: 100%; height: 100%;
        position: absolute;
        bottom: 0; right: 0;
        z-index: -1;
    }
}