.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    position: relative;

    &__headline {
        @include respond(ipadMini){margin-top: 9rem;}
    }
    &__icon {
        fill: $color-text;
        height: 2.8rem; width: 2.6rem;
        position: absolute;
        @include respond(ipadMini){
            height: 4rem;
            width: 4rem;
        }
        
        &:hover {
            stroke: #F8F5F1;
        }
        &--one {
            top: 5rem;
            left: 6rem;
            @include respond(ipadMini){
                top: 7rem;
                left: 15rem;
            } 
        }
        &--two {
            top: 22rem;
            left: 17rem;
            @include respond(ipadMini){
                top: 43rem;
                left: 36rem;
            } 
        }
        &--three {
            bottom: 14rem;
            right: 10rem;
            @include respond(ipadMini){
                bottom: 25rem;
                right: 20rem;
            } 
        }
        &--four {
            bottom: 10rem;
            right: 14rem;
            @include respond(ipadMini){
                bottom: 18rem;
                right: 31rem;
            } 
        }
    }
    &__image {
        width: 100%;
        margin: 4rem 0 5rem -2rem;
    }
    &__image-container {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    &__instructions {
        background: url(/images/infoS.svg) no-repeat;
        height: 15.2rem;
        width: 20.35rem;
        position: absolute;
        top: 3rem; right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond(ipadMini){
            background: url(/images/infoL.svg) no-repeat;
            height: 26.3rem;
            width: 47rem;
            right: -10rem;
        }
        

        &--text {
            padding: 0 3rem 2rem 7rem;
            color: $color-white;
            @include respond(ipadMini){
                font-size: 3rem;
                padding: 0 12rem 2rem 14rem;
            }
        }
        &--desktop {
            display: none;
            @include respond(smDesktop){
                display: inline;
            }
        }
        &--mobile {
            @include respond(smDesktop){
                display:  none;
            }
        }
    }
    &__display {
        width: 100%;
        position: relative;
    }
    &__features {
        font-size: 1.8rem;
        list-style-type: square;
        line-height: 3rem;
        padding-bottom: 4rem;
        @include respond(ipadMini){font-size: 2.8rem;}
    }
    &__part {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid $color-text-light;
        border-radius: 6px;
        background-color: rgba($color-text-light, 0.2);
        top: 65%;
        width: 40%;
        left: 5%;
        padding: 1.5rem;
        text-align: center;
        @include respond(ipadMini){width: 30%;}

        &:before {
            content: "";
            background: inherit; 
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
            filter: blur(10px);
            z-index: -1;
        }
        &.hidden {
            display: none;
        }
        &-blurb {
            @include respond(ipadMini){font-size: 2rem;}
        }
        &-title {
            @include respond(ipadMini){font-size: 2.5rem;}
        }
    }
    &__swoosh {
        background: url(/images/S2SwooshS.svg) no-repeat;
        background-size: cover;
        width: 100%; height: 100%;
        position: absolute;
        bottom: 0; right: 0;
        z-index: -1;
    }
}