.testimonials {
    display: flex;
    height: 60vh; width: 100%;
    position: relative;
    margin-top: 5rem;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(/images/eyes.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        opacity: 0.4;   
    }
}