.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: calc(60vh - 6rem); width: 100%;
    position: relative;
    margin: 0 0 -5rem 0;
    overflow: hidden;

    &:before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(/images/eyes.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        opacity: 0.25;   
    }
    &__quote {
        display: block;
        position: relative;
        height: 20%;
        top: 0;
        padding: 0 2rem;
        box-sizing: border-box;
    }
    &__row {
        // display: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 10rem;
        overflow: hidden;
        &:nth-of-type(2){
            margin: 0 0 0 4rem;
            display: flex;
            & .testimonials__quote {
                width: 60%;
            }
        }
    }
    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 500%;
        position: relative;
        animation: slide 10s ease infinite;
    }
    &__name {
        font-weight: 600;
    }
}


@keyframes slide {
    0% {top: 0%;}
    18% {top: 0%;}
    20% {top: -100%;}
    38% {top: -100%;}
    40% {top: -200%;}
    58% {top: -200%;}
    60% {top: -300%;}
    78% {top: -300%;}
    80% {top: -400%;}
    98% {top: -400%;}
    100% {top: -500%;}
}