.flashyres {
  height: 80vh;
  width: 42rem;

  &__body {
    background-color: $color-background-accent;
  }
  &__cubeface {
    background-color: white;
  }


  
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 10rem;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }