.footer {
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    padding: 1rem;
    background-color: $color-brand;
    @include flex-row;
    @include double-border;
    justify-content: center;
    z-index: 4;

    &__icon {
        height: 2rem; width: 2rem;
        margin: .5rem 1rem;
        fill: $color-background-accent;
    }
    &__title {
        font-size: 2rem;
        margin: .5rem 3rem 0 3rem;
        color: $color-background-accent;
    }
}


.profile-skills {
    width: 80%;
    @include flex-row;
    justify-content: space-evenly;
    margin: 1rem auto;

    &__icon {
        height: 3rem; width: 3rem;
        margin: .5rem 1rem;
        fill: $color-text;
        @include respond(tinyphone){
            height: 2rem; width: 2rem;
        }
    }
    &__iconbg {
        width: 7rem; height: 6rem;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-brand;
        border-radius: 45% 10% 70% 10%;
        background-color: $color-background-accent;
        @include flex-row;
        @include respond(tinyphone){
            height: 4rem; width: 4rem;
        }
    }
    &__skill {
        align-items: center;
        @include flex-column;
        @include respond(tinyphone){
            margin: 0 .5rem;
        }
    }
    &__skillname {
        margin-top: .5rem;
        font-weight: 600;
        font-size: 1.75rem;
        @include respond(tinyphone){
            font-size: 1.5rem;
        }
    }
}


.welcome {
    margin-top: 10rem;
    @include shadow;
    padding: 5rem 1.5rem;
    text-align: center;

    @include respond(tablet){
        padding: 2rem 1.5rem;
    }

    &__marquee {
        height: 5rem;
        margin: 2rem 0;
        overflow: hidden;
        @include respond(tablet){
            font-size: 2rem;
        }

        &--list {
            position: relative;
            height: 700%;
            animation: slide 35s ease infinite;
        }
    }
    &__name {
        font-size: 12rem;
        letter-spacing: 2rem;
        @include respond(tablet){
            font-size: 5.5rem;
        }
    }
    &__scrolltext {
        display: block;
        position: relative;
        height: 14.2857%;
        padding: 2px 5px;
        font-size: 3rem;
        top: 0;
        box-sizing: border-box;
        
    }
    &__title {
        display: block;
        background-color: rgba(8, 255, 200, .25);
        background-image:
            radial-gradient(circle at 100% 150%, rgba(8, 255, 200, .25) 24%, white 25%, white 28%, rgba(8, 255, 200, .25) 29%, rgba(8, 255, 200, .25) 36%, white 36%, white 40%, transparent 40%, transparent),
            radial-gradient(circle at 0    150%, rgba(8, 255, 200, .25) 24%, white 25%, white 28%, rgba(8, 255, 200, .25) 29%, rgba(8, 255, 200, .25) 36%, white 36%, white 40%, transparent 40%, transparent),
            radial-gradient(circle at 50%  100%, white 10%, rgba(8, 255, 200, .25) 11%, rgba(8, 255, 200, .25) 23%, white 24%, white 30%, rgba(8, 255, 200, .25) 31%, rgba(8, 255, 200, .25) 43%, white 44%, white 50%, rgba(8, 255, 200, .25) 51%, rgba(8, 255, 200, .25) 63%, white 64%, white 71%, transparent 71%, transparent),
            radial-gradient(circle at 100% 50%, white 5%, rgba(8, 255, 200, .25) 6%, rgba(8, 255, 200, .25) 15%, white 16%, white 20%, rgba(8, 255, 200, .25) 21%, rgba(8, 255, 200, .25) 30%, white 31%, white 35%, rgba(8, 255, 200, .25) 36%, rgba(8, 255, 200, .25) 45%, white 46%, white 49%, transparent 50%, transparent),
            radial-gradient(circle at 0    50%, white 5%, rgba(8, 255, 200, .25) 6%, rgba(8, 255, 200, .25) 15%, white 16%, white 20%, rgba(8, 255, 200, .25) 21%, rgba(8, 255, 200, .25) 30%, white 31%, white 35%, rgba(8, 255, 200, .25) 36%, rgba(8, 255, 200, .25) 45%, white 46%, white 49%, transparent 50%, transparent);
        background-size: 100px 50px;
        font-size: 4.5rem;
        @include respond(tablet){
            font-size: 3rem;
        }
    }
}


@keyframes slide {
    0% {top: 0%;}
    12% {top: 0%;}
    14% {top: -100%;}
    26% {top: -100%;}
    28% {top: -200%;}
    40% {top: -200%;}
    42% {top: -300%;}
    54% {top: -300%;}
    56% {top: -400%;}
    68% {top: -400%;}
    70% {top: -500%;}
    82% {top: -500%;}
    84% {top: -600%;}
    96% {top: -600%;}
    100% {top: -700%;}
}


