.about {
    width: 60%;
    margin: 2rem auto;
    @include respond(tablet){
        width: 80%;
    }

    &__blurb {
        font-size: 1.75rem;
    }
}
.education {
    &__span {
        font-size: 1.5rem;
        @include flex-row;
    }
}
.experience {
    flex: 55%;

    &__company {
        margin-left: auto;
    }
    &__position {
        margin: 2rem 2rem 0 2rem;
    }
    &__span {
        @include flex-row;
    }
}
.flexible-content {
    @include flex-row;
    position: relative;
    @include respond(tablet){
        @include flex-column;
    }
    @media print {
        @include flex-row;
    }
}
.resprojects {
    padding: 1.5rem 3rem;

    &__link {
        text-decoration: none;
        cursor: pointer;
        color: $color-brand;
        &:visited {
            color: $color-brand;
        }
        &:hover {
            color: $color-highlight;
        }
    }
    &__project {
        margin-bottom: 2rem;
    }
}
.proj-ed {
    flex: 45%;
    @include flex-column;
}
.resheader {
    align-items: center;
    justify-content: center;
    @include flex-row;
    margin: 2rem 0;
    @media print {
        @include flex-column;
        align-items: center;
    }

    &__column {
        @include flex-column;

        &:nth-child(2) {
            margin-left: 4rem;
            @include respond(tablet){
                margin-left: 1rem;
            }
            @include respond(phone){
                margin-left: 0;
            }
        }
    }
    &__contact {
        @include flex-row;
        @include respond(tablet){
            flex-direction: column;
        }
    }
    &__icon {
        height: 2rem; width: 2rem;
        margin: .5rem 1rem;
        fill: $color-text;
    }
    &__initial {
        font-family: "Macondo Swash Caps", sans-serif;
    }
    &__method {
        align-items: center;
        font-size: 1.75rem;
        @include flex-row;
        @include respond(tablet){
            font-size: 1.25rem;
        }
        @include respond(tablet){
            font-size: 1.75rem;
        }
    }
    &__name {
        margin-right: 6rem;
        @media print {
            margin-right: 0;
            text-align: center;
        }
    }
    &__row {
        @include flex-row;
        @include respond(phone){
            @include flex-column;
        }
    }
}
.resskills {
    padding: 1.5rem 3rem;
    &__lists {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
    }
}

