*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
//font size equiv to 10px, but allows for accessibility devices to change font size
html {
    font-size: 62.5%;
}
body {
    background-color: rgb(160, 89, 160);
}
.page-container {
    width: 36rem;
    margin: auto;
    background-color: white;
}