*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
//font size equiv to 10px, but allows for accessibility devices to change font size
html {
    font-size: 62.5%;
}
body {
    background-color: $color-accent;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
.page-container {
    width: $app-width;
    margin: auto;
    background-color: $color-accent;
}