/* #E0E7E0 - game board highlight and nav bar background */
/* #6FB882 - header and active button*/
/* #2A5F9E - table lines*/
body {
	font-family: "Open Sans", sans-serif;
}

.vertLines {
	border-left: 5px solid #2A5F9E;
	border-right: 5px solid #2A5F9E;
}

.horLines {
	border-top: 5px solid #2A5F9E;
	border-bottom: 5px solid #2A5F9E;
}

table {
	margin: auto;
	border-collapse: collapse;
	color: #6FB882;
	font-family: "Luckiest Guy", sans-serif;
	font-size: 80px;
	text-align: center;
}

td {
	width: 100px;
	height: 100px;
}

.available:hover {
	background-color: #E0E7E0;
}

.winner {
	background-color: #2A5F9E;
	color: white;
}

.menuBar {
	background-color: #E0E7E0; 
	width: 100%;
	height: 30px;
	margin-bottom: 25px;
	/* padding: 1px; */
	text-align: center;
	text-transform: uppercase;
	position: relative;
}

.menuPad {
	padding: 0px 35px 0px 35px;
	position: relative;
}

.headSpace {
	background-color: #6FB882;
	color: white;
	width: 100%;
	margin: 0px;
	height: 190px;
	padding: 5px 0px 30px 0px;
	text-align: center;
	font-size: 16px;
}

h1 {
	text-shadow: 5px 5px #2A5F9E,
				5px -5px #2A5F9E,
				-5px 5px #2A5F9E,
				-5px -5px #2A5F9E;
	font-family: "Luckiest Guy", sans-serif;
	font-size: 80px;
	margin-bottom: 1px;
}

button {
	border: none;
	background-color: #E0E7E0;
	font-size: 16px;
	text-transform: uppercase;
	height: 100%;
}
	
button:hover {
	background-color: #6FB882;
	color: white;
}

button:focus {
    outline: none;
    border: none;
}
