.tasks {
    &__container {
        display: flex;
        flex-direction: column;
        height: 100%; width: 100%;
        align-items: center;
    }
    &__bgicon {
        fill: rgba($color-text-light, .4);
        position: absolute;
        bottom: 1rem; left: 0;
        z-index: 1;
        width: 15rem; height: 15rem;

        &--full {
            bottom: 1rem; left: 0;
            width: 35rem; height: 35rem;
        }
    }
    &__list {
        list-style: circle;
    }
    &__list-item {
        font-size: 1.5rem;
        margin-bottom: .5rem;
        border-bottom: 1px solid $color-text-light;
    }
}
.full-tasks {
    &__headline {
        font-size: 3rem;
    }
    &__list--complete {
        & li {
            text-decoration: line-through;
            text-decoration-color: $color-main-dark;
        }
    }
    &__list-item {
        font-size: 1.5rem;
        margin-bottom: .5rem;
        border-bottom: 1px solid $color-text-light;
        transition: all .2s ease;

        &:hover {
            background-color: $color-two-light;
        }
    }
    &__category {
        font-size: 2rem;
        margin: 1rem 0;
    }
    &__trash, &__add {
        height: 1.25rem; width: 1.25rem;
        fill: $color-text-primary;
        transition: all .2s ease;
    }
    &__trash {
        margin-left: 2rem;
        float: right;
        &:hover {
            fill: $color-text-light;
        }
    }
    &__add:hover {
        fill: white;
    }
    &__new {
        font-size: 1.5rem;
    }
    &__addBtn {
        border: none;
        border-radius: 6px;
        background-color: $color-main;
        text-align: center;
        box-shadow: 0px 4px 6px rgba(0,0,0,.5);
        transition: all .4s ease-in;
        padding: 6px 2px 2px 2px;

        &:hover {
            background-color: $color-main-dark;
            transform: translateY(2px); 
        }
    }
    &__taskEntry {
        border-radius: 6px;
        font-size: 1.2rem;
        padding: 2px;
        height: 2rem;

        &:focus {
            outline: none;
            border-bottom: 2px solid $color-main;
        }
    }
}