.options {
    &__button {
        width: 3rem;
        height: 3rem;
        margin: .5rem;
        background: $color-white;
        border: none;

        &--pressed {
            background: $color-green;
        }
    }
    &__packList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__pack {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        
        &__name {
            font-size: 1rem; 
        }
    }
}