.Roller {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.roller {
    &_button {
        background-color: $color-green;
        color: $color-white;
        font-size: 1.8rem;
        border: 3px solid $color-text;
        border-radius: 3rem;
        font-size: 2rem;
        padding: .75rem 2.5rem;
        margin: 1.5rem;
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            border-radius: 3rem;
            transform: translate(-100%, -50%);
            width: 100%;
            height: 100%;
            background-color: $color-text;
            transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
        }
        &:hover::before {
            transform: translate(0, -52%);
        }
        &_text {
            position: relative;
            z-index: 2;
        }
    }
    &_funds {
        background-color: rgba(0, 84, 211,1);
        width: 100%;
        text-align: center;
        box-shadow: 0 0 0 .25rem rgba(0, 84, 211, .65),
        0 0 0 .5rem rgba(0, 84, 211, .4),
        0 0 0 .75rem rgba(0, 84, 211, .25);
        margin-bottom: 3rem;
    }
    &_simList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
    }
    &_title {
        margin: 4rem 0 2rem 0;

        &--main {
            position: relative;
            z-index: 2;
        }
        &--accent {
            position: relative;


            &::before {
            content: "4";
            position: absolute;
            top: -75%; left: -3rem;
            color: $color-green;
            font-size: 10rem;
            z-index: 1;
            opacity: .5;
        }
        }
    }
}

  
