.Roller {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.roller {
    &_button {
        background-color: $color-green;
        color: $color-white;
        font-size: 1.8rem;
        border: 3px solid $color-text;
        border-radius: 3rem;
        font-size: 2rem;
        padding: .75rem 2.5rem;
        margin: 1.5rem;
        &:hover {
            background-color: $color-text;
        }
    }
    &_simList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
    }
}