.Roller {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.roller {
    &_button {
        background-color: $color-green;
        color: $color-white;
        font-size: 1.8rem;
        border: 3px solid $color-text;
        border-radius: 3rem;
        font-size: 2rem;
        padding: .75rem 2.5rem;
        margin: 1.5rem;
        &:hover {
            background-color: $color-text;
        }
    }
    &_funds {
        background-color: rgba(0, 84, 211,1);
        width: 100%;
        text-align: center;
        box-shadow: 0 0 0 .25rem rgba(0, 84, 211, .65),
        0 0 0 .5rem rgba(0, 84, 211, .4),
        0 0 0 .75rem rgba(0, 84, 211, .25);
        margin-bottom: 3rem;
    }
    &_simList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center;
    }
}