body {
	font-family: "Open Sans", sans-serif;
}
.playingField {
	display: grid;
	grid-template-areas: "subGrid1 subGrid2 subGrid3"
							"subGrid4 subGrid5 subGrid6"
							"subGrid7 subGrid8 subGrid9";
	margin: auto;
}
#subGrid1 {grid-area: subGrid1;}
#subGrid2 {grid-area: subGrid2;}
#subGrid3 {grid-area: subGrid3;}
#subGrid4 {grid-area: subGrid4;}
#subGrid5 {grid-area: subGrid5;}
#subGrid6 {grid-area: subGrid6;}
#subGrid7 {grid-area: subGrid7;}
#subGrid8 {grid-area: subGrid8;}
#subGrid9 {grid-area: subGrid9;}
.subGrid {
	display: grid;
	border: 4px solid #2A5F9E;
	grid-template-areas: "tile1 tile2 tile3"
						"tile4 tile5 tile6"
						"tile7 tile8 tile9";
}

.tile1 {grid-area: tile1;}
.tile2 {grid-area: tile2;}
.tile3 {grid-area: tile3;}
.tile4 {grid-area: tile4;}
.tile5 {grid-area: tile5;}
.tile6 {grid-area: tile6;}
.tile7 {grid-area: tile7;}
.tile8 {grid-area: tile8;}
.tile9 {grid-area: tile9;}
.tile {
	display: grid;
	border: 2px solid #2A5F9E;
	font-size: 35px;
	text-align: center;
}

.pencil {
	width: 8px;
	height: 8px;
	border: 1px solid #E0E7E0;
	font-size: 7px;
}
h1 {
	font-family: "ZCOOL KuaiLe", sans-serif;
	font-size: 80px;
	margin-bottom: 1px;
}

button {
	border: none;
	background-color: #E0E7E0;
	font-size: 16px;
	text-transform: uppercase;
	height: 100%;
}
	
button:hover {
	background-color: #6FB882;
	color: white;
}

button:focus {
    outline: none;
    border: none;
}
.headSpace {
	background-color: #6FB882;
	color: white;
	width: 100%;
	margin: 0px;
	height: 190px;
	padding: 5px 0px 30px 0px;
	text-align: center;
	font-size: 16px;
}
.menuBar {
	background-color: #E0E7E0; 
	width: 100%;
	height: 30px;
	margin-bottom: 25px;
	/* padding: 1px; */
	text-align: center;
	text-transform: uppercase;
	position: relative;
}
.menuPad {
	padding: 0px 35px 0px 35px;
	position: relative;
}

.available:hover {
	background-color: #E0E7E0;
}
.winner {
	background-color: #2A5F9E;
	color: white;
}




