body {
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.45;
    display: flex;
    flex-wrap: wrap;
}
footer {
	background-color: #D4D8E6;
	border-top: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
    z-index: 2;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    left: 0px;
	width: 100%;
}
.setRight {
    float: right;
    padding: 10px 30px 10px 0px;
}
.main-content { 
    margin: auto;
    width: 60%;
    margin-bottom: 200px;
}
    @media only screen and (max-width: 768px) {
        .main-content {
            width: 90%;
        }
    }

/* personally I prefer using named areas and a grid area template,
but wanted to use spans for this exercise just for a bit of variety */
.gameGrid {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(6 , 1fr);
    grid-gap: 10px;
}
    .gameGridCell {
        background: #D4D8E6;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
    }
    .gameGridCell.oneone {
        grid-row: span 1;
        grid-column: span 1;
    }
    .gameGridCell.onetwo {
        grid-row: span 1;
        grid-column: span 2;
    }
    .gameGridCell.onethree {
        grid-row: span 1;
        grid-column: span 3;
    }
    .gameGridCell.onefour {
        grid-row: span 1;
        grid-column: span 4;
    }
    .gameGridCell.twoone {
        grid-row: span 2;
        grid-column: span 1;
    }
    .gameGridCell.twotwo {
        grid-row: span 2;
        grid-column: span 2;
    }
    .gameGridCell.twothree {
        grid-row: span 2;
        grid-column: span 3;
    }
    .gameGridCell.threeone {
        grid-row: span 3;
        grid-column: span 1;
    }
    .gameGridCell.threetwo {
        grid-row: span 3;
        grid-column: span 2;
    }
    .gameGridCell.threethree {
        grid-row: span 3;
        grid-column: span 3;
    }
    .gameGridCell.fourone {
        grid-row: span 4;
        grid-column: span 1;
    }    

.one {background-color: rgb(105, 120, 172);}
.two {background-color: rgb(20, 218, 201);}
.three {background-color: rgb(160, 130, 73);}
.four {background-color: rgb(211, 168, 189);}
.five {background-color: rgb(6, 182, 123);}
.six {background-color: #D4D8E6;}
.seven {background-color: rgb(75, 79, 94);}
.eight {background-color: rgb(230, 187, 168);}
.nine {background-color: rgb(96, 97, 100);}
.ten {background-color: rgb(54, 109, 110);}
.eleven {background-color: rgb(180, 196, 112);}
.twelve {background-color: rgb(206, 72, 105);}
.thirteen {background-color: rgb(230, 240, 174);}

