html, body {
    width: 100%;
    font-family: sans-serif;
}
footer {
	background-color: #D4D8E6;
	border-top: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
    z-index: 2;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
	width: 100%;
}
.setRight {
    float: right;
    padding: 10px 30px 10px 0px;

}

