<% include ./partials/header %>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Sign In</button>
</form>


<% include ./partials/footer %>