//for anything on index page, order in sections via BEM
.section-nav {
    width: 100%; height: 5rem;
}
.main-content {
    display: grid;
    width: 100%; min-height: 75rem;
    grid-template-areas: "news news news news weather weather"
                        "news news news news weather weather"
                        "news news news news budget budget"
                        "news news news news tasks tasks"
                        "notes notes notes notes tasks tasks"
                        "notes notes notes notes tasks tasks"
                        "recipe recipe word word word word"
                        "recipe recipe calculator calculator calculator calculator"
                        "flip flip calculator calculator calculator calculator"
                        "timezone timezone timezone currency currency currency";
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 2px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0,0,0,.5);
    border-radius: 6px;
    transition: all .5s ease;
}

.app {
    border-radius: 6px;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
}

.section-news { grid-area: news;}
.section-weather { grid-area: weather;}
.section-word { 
    grid-area: word;
    position: relative;
}
.section-tasks { 
    grid-area: tasks;
    position: relative;
    background-color: $color-accent-light;
}
.section-notes { 
    grid-area: notes;
    position: relative;
}
.section-recipe { 
    grid-area: recipe;
    position: relative;
}
.section-flip {
    grid-area: flip;
}
.section-budget{
    grid-area: budget;
    position: relative;
}
.section-timezone { 
    grid-area: timezone;
    position: relative;
    overflow: hidden;
}
.section-currency { grid-area: currency;}
.section-calculator { 
    grid-area: calculator;
}
.expandIcon, .condenseIcon {
    position: absolute;
    fill: $color-text-primary;
    transition: all .2s ease-in;

    &:hover {
        fill: $color-text-light;
    }
}
.expandIcon {
    height: 1rem; width: 1rem;
    top: 2px; right: 2px;
}
.condenseIcon {
    height: 2rem; width: 2rem;
    top: 1.2rem; right: 1.2rem;
}


//testing
.fullscreen {
    width: 100%; min-height: 75rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0,0,0,.5);
    border-radius: 6px;
    background-color: white;
}